---
layout: default
---

<main class="main" role=“main”>
    <sectopm class="grid">
        <div class="grid-content">
            <h1 class="title">{{ site.job }}</h1>
            <p class="subtitle">{{ site.shortdescription }}</p>
        </div>
    </sectopm>
    <p class="disclaimer">Follow me on <a href="{{ site.twitter }}" rel="me" target="_blank" rel="noopener">Twitter</a>, fork me on <a href="{{ site.github }}" rel="me" target="_blank" rel="noopener">Github</a>, subscribe via <a href="/feed.xml">RSS Feed</a> or say hello at {% include component-email.html %}</p>

    {% for podcast in site.data.podcast limit:1 %}
    <h2 class="">Latest Podcast episode:</h2>
    <div>
        <blockquote class="">
            <span>The Podcast is in Spanish.</span>
        </blockquote>
    </div>

    <section class="">
        <a class="" href="/podcast/{{ podcast.podcast_url }}">
            <h3 class="">{{ podcast.name }}</h3>
            <time class="" datetime="{{ podcast.date | date: "%Y-%m-%d" }}">{{ podcast.podcast_date }}</time>
            <p class="">{{ podcast.description }}</p>
            <img class="" src="{{ podcast.image_url }}" alt="{{ podcast.name }} Image" />
        </a>
        <p class="">
            <a href="{{ podcast.podcast_web }}" target="_blank" rel="noopener">Accede al post del episodio</a>
        </p>
    </section>
    {% endfor %}

    {% for talk in site.data.speaking limit:1 %}
    <h2 class="">Latest talk:</h2>
    <section class="">
        <a class="" href="/speaking/{{ talk.speaking_url }}">
            <h3 class="">{{ talk.name }}</h3>
            <time class="">{{ talk.speaking_date }}</time>
            <p class="">{{ talk.description }}</p>
        </a>
    </section>
    {% endfor %}

    {% for post in site.posts limit:1 %}
    <h2 class="">Latest article:</h2>
    <section class="">
        <a class="" href="{{ post.url }}">
            <h3 class="">{{ post.title }}</h3>
            <time class="" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            <p class="">{{ post.excerpt }}</p>
        </a>
    </section>
    {% endfor %}

    {% for interview in site.data.interviews limit:1 %}
    <h2 class="">Latest interview:</h2>
    <section class="">
        <a class="" href="/interviews/{{ interview.interview_url }}">
            <h3 class="">{{ interview.name }}</h3>
            <time class="" datetime="{{ interview.date | date: "%Y-%m-%d" }}">{{ interview.interview_date }}</time>
            <p class="">{{ interview.excerpt }}</p>
            <img class="" src="{{ interview.image_url }}" alt="{{ interview.interview }} Photography" />
            <p class="">{{ interview.interview_number }}</p>
        </a>
        <p class=""><a href="{{ interview.interview_web }}" target="_blank" rel="noopener">{{ interview.name }}'s Web</a></p>
        <p class=""><a href="{{ interview.interview_twitter }}" target="_blank" rel="noopener">{{ interview.name }}'s Twitter</a></p>
    </section>
    {% endfor %}
</main>
