---
layout: default
---

<main class="main-home" role="main">
    <section class="hero">
       <!--  <picture class="hero__picture">
            <source
                media="(min-width: 80em) and (orientation: portrait)"
                srcset="/assets/images/hero/ignacio-home-large-portrait.jpg     1x,
                        /assets/images/hero/ignacio-home-large-portrait@2x.jpg  2x,
                        /assets/images/hero/ignacio-home-large-portrait@3x.jpg  3x"
                type="image/jpg" />

            <source
                media="(min-width: 48em) and (orientation: portrait)"
                srcset="/assets/images/hero/ignacio-home-medium-portrait.jpg    1x,
                        /assets/images/hero/ignacio-home-medium-portrait@2x.jpg 2x,
                        /assets/images/hero/ignacio-home-medium-portrait@3x.jpg 3x"
                type="image/jpg" />

            <source
                media="(min-width: 0em) and (orientation: portrait)"
                srcset="/assets/images/hero/ignacio-home-small-portrait.jpg     1x,
                        /assets/images/hero/ignacio-home-small-portrait@2x.jpg  2x,
                        /assets/images/hero/ignacio-home-small-portrait@3x.jpg  3x"
                type="image/jpg" />

            <source
                media="(min-width: 90em)"
                srcset="/assets/images/hero/ignacio-home-extralarge.jpg    1x,
                        /assets/images/hero/ignacio-home-extralarge@2x.jpg 2x,
                        /assets/images/hero/ignacio-home-extralarge@3x.jpg 3x"
                type="image/jpg" />

            <source
                media="(min-width: 80em)"
                srcset="/assets/images/hero/ignacio-home-large.jpg         1x,
                        /assets/images/hero/ignacio-home-large@2x.jpg      2x,
                        /assets/images/hero/ignacio-home-large@3x.jpg      3x"
                type="image/jpg" />

            <source
                media="(min-width: 48em)"
                srcset="/assets/images/hero/ignacio-home-medium.jpg        1x,
                        /assets/images/hero/ignacio-home-medium@2x.jpg     2x,
                        /assets/images/hero/ignacio-home-medium@3x.jpg     3x"
                type="image/jpg" />

            <source
                media="(min-width: 0em)"
                srcset="/assets/images/hero/ignacio-home-small.jpg         1x,
                        /assets/images/hero/ignacio-home-small@2x.jpg      2x,
                        /assets/images/hero/ignacio-home-small@3x.jpg      3x"
                type="image/jpg" />

            <img
                class="hero__img"
                src="/assets/images/hero/ignacio-home-extralarge@3x.jpg"
                alt="Photography of Ignacio in a dark background"
                srcset="/assets/images/hero/ignacio-home-extralarge.jpg    1x,
                        /assets/images/hero/ignacio-home-extralarge@2x.jpg 2x,
                        /assets/images/hero/ignacio-home-extralarge@3x.jpg 3x" />
        </picture> -->

        <img class="hero__img small" src="/assets/images/hero/ignacio-home-large-portrait@3x.jpg" alt="Photography of Ignacio in a dark background" />
        <img class="hero__img big" src="/assets/images/hero/ignacio-home-extralarge@3x.jpg" alt="Photography of Ignacio in a dark background" />
        <div class="hero__content">
            <h1 class="hero__title">{{ site.job }}</h1>
            <div class="u-divider"></div>
            <p class="hero__subtitle">{{ site.description }}.</p>
        </div>
        <p class="hero__disclaimer">{% include component-follow-home.html %}</p>
    </section>

    <div class="media-wrapper">
        <section class="media">
            <div class="media__item">
                <h2 class="h3-like">Writing</h2>
                <div class="u-divider"></div>
                <p>I use to write from time to time. If you are looking for something specific, you can hit <a class="link" href="/search">the search</a>.</p>
                <a class="btn btn--regular" href="/blog/">
                    <span>Blog</span>
                    {% include icons/arrow-enter.html %}
                </a>
                <div class="u-divider"></div>
                {% for post in site.posts limit: 3 %}
                    {% if post.lang %}
                            <article lang="{{ post.lang }}">
                                <a class="media__link" href="{{ post.url }}" lang="{{ post.lang }}" hreflang="{{ post.lang }}">
                                    <time class="media__time" datetime="{{ post.date | date: '%F' }}">{{ post.date | date: "%b %-d %Y" }}</time>
                                    <h3 class="media__subtitle">{{ post.title }}</h3>
                                </a>
                        {% else %}
                            <article>
                                <a class="media__link" href="{{ post.url }}">
                                    <time class="media__time" datetime="{{ post.date | date: '%F' }}">{{ post.date | date: "%b %-d %Y" }}</time>
                                    <h3 class="media__subtitle">{{ post.title }}</h3>
                                </a>
                        {% endif %}
                        </article>
                {% endfor %}
            </div>
            <div class="media__item">
                <h2 class="h3-like">Speaking</h2>
                <div class="u-divider"></div>
                {% for talk in site.data.speaking limit: 5 %}
                    <article lang="es">
                        <a class="media__link" href="/speaking/{{ talk.url }}" lang="es" hreflang="es">
                            <time class="media__time" datetime="{{ talk.date | date: '%F' }}">{{ talk.date | date: "%b %-d %Y" }}</time>
                            <h3 class="media__subtitle">{{ talk.name }}</h3>
                        </a>
                    </article>
                {% endfor %}
            </div>
            <div class="media__item">
                <h2 class="h3-like">Collaborations</h2>
                <div class="u-divider"></div>
                <p>I have had the pleasure of having been invited to collaborate with some Spanish media/publications of the web development sector.</p>
                <div class="u-divider"></div>
                {% for collaboration in site.data.collaborations limit: 5 %}
                <article lang="es">
                    <a class="media__link" href="{{ collaboration.url }}" hreflang="es" target="_blank" rel="noopener noreferrer">
                        <time class="media__time" datetime="{{ collaboration.date | date: '%F' }}">{{ collaboration.date }}</time>
                        <h3 class="media__subtitle">
                            {{ collaboration.name }}
                        </h3>
                    </a>
                </article>
                {% endfor %}
            </div>
        </section>
    </div>
</main>
