---
layout: full
tags:
  - Ignacio Villanueva
  - writing
  - css
  - sass
classes: home
---
<section class="home-section">
  <div class="home-section__inner  container">
    <img class="home-section__image" src="/images/ignacio-villanueva.jpg" alt="Photo Ignacio Villanueva"  />
    <h1 class="home-section__title">Ignacio Villanueva is a Front-end Developer & Typography Lover based in Madrid, Spain.</h1>
    <p>You can follow me on <a href="https://twitter.com/IgnaciodeNuevo">Twitter</a>, fork me on <a href="https://github.com/IgnaciodeNuevo">Github</a>, subscribe via <a href="/rss">RSS Feed</a> or say hello at <a href="mailto:ignaciodenuevo@gmail.com">ignaciodenuevo@gmail.com</a>.</p>
  </div>
</section>

{% for post in site.posts limit:1 %}
<section class="home-section">
  <h2 class="home-section__title">My latest ARTICLE:</h2>
  <a href="{{ post.link }}">
    <h3 class="home-section__link">{{ post.title }}</h3>
    <time class="home-section__time" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.manuel }}</time>
    <p class="">{{ post.excerpt }}</p>
  </a>
</section>
{% endfor %}

{% for project in site.data.projects limit:1 %}
<section class="home-section">
  <h2 class="home-section__title">My latest PROJECT:</h2>
  <a href="{{ project.url }}" target="_blank"> 
    <h3 class="home-section__link">{{ project.name }}</h3>
    <p class="">{{ project.description }}</p>
    <img src="{{ project.image_url }}" alt="{{ project.name }} Image" class="portrait"/>
  </a>
</section>
{% endfor %}

{% for interview in site.data.dev-interviews limit:1 %}
<section class="home-section">
  <h2 class="home-section__title">My latest DEVELOPER INTERVIEW:</h2>
  <a href="developers-interviews/{{ interview.interview_url }}">
    <h3 class="home-section__link">{{ interview.name }}</h3>
    <time class="home-section__time" datetime="{{ interview.date | date: "%Y-%m-%d" }}">{{ interview.date }}</time>
    <p class="">{{ interview.excerpt }}</p>
    <img src="{{ interview.image_url }}" alt="{{ interview.interview }} Photography" class="portrait"/>
  </a>
  <p>
    <a href="{{ interview.web }}">{{ interview.name }} Web</a> - <a href="{{ interview.twitter }}">{{ interview.name }} Twitter</a>
  </p>
</section>
{% endfor %}
