// ----------------------------------------------------------------
// This file contains all styles related to the syntax highlighter
// ----------------------------------------------------------------
.highlight {
    background-color: var(--highlight-bg);
    color: var(--color-base-lightest);
    margin-bottom: var(--space-l);
    margin-left: calc(var(--space-l) * -1);
    margin-right: calc(var(--space-l) * -1);
    margin-top: initial;
    overflow-x: scroll;
    position: relative;
    width: 100vw;

    @media (min-width: $mq-m) {
        margin-left: calc(var(--space-l) * -1 - (var(--space-l) / 2)); // Hack: Visual correction of a side whitespace that should not exist
        margin-right: calc(var(--space-l) * -1 - (var(--space-l) / 2)); // Hack: Visual correction of a side whitespace that should not exist
    }

    @media (min-width: $mq-l) {
        margin-left: calc(var(--grid-width) / 2 * -1);
        // Margin left shoud be the sum of (--grid-width divided by 2 - .grid's grid-gap (--space-xxl) - second grid's column width (--meta-width-m) * -1)
        margin-right: calc(var(--grid-width) / 2 * -1 - var(--space-xxl) - var(--meta-width-m));
        width: auto;
    }

    pre {
        margin-bottom: initial;
        padding: var(--space-l);

        @media (min-width: $mq-s) {
            padding-bottom: var(--space-xl);
            padding-left: var(--space-l);
            padding-right: var(--space-l);
            padding-top: var(--space-xl);
        }

        @media (min-width: $mq-m) {
            padding-left: calc(var(--space-l) +  (var(--space-l) / 2)); // Hack: Visual correction of a side whitespace that should not exist
            padding-right: calc(var(--space-l) +  (var(--space-l) / 2)); // Hack: Visual correction of a side whitespace that should not exist
        }

        @media (min-width: $mq-l) {
            margin-left: auto;
            margin-right: auto;
            max-width: var(--grid-width); // Magic String: Do not change/remove
            padding-left: initial;
            padding-right: initial;
        }
    }

    .c {
        color: #999988;
        font-style: italic;
    }

    .err {
        background-color: #e3d2d2;
        color: #a61717;
    }

    .k {
        color: var(--highlight-at);
    }

    .cm {
        color: #999988;
        font-style: italic;
    }

    .cp {
        color: #999999;
    }

    .c1 {
        color: var(--highlight-comment);
        font-style: italic;
    }

    .cs {
        color: #999999;
        font-style: italic;
    }

    .gd {
        background-color: #ffdddd;
        color: var(--color-base-lightest);
    }

    .gd .x {
        background-color: #ffaaaa;
        color: var(--color-base-lightest);
    }

    .ge {
        font-style: italic;
    }

    .gr {
        color: #aa0000;
    }

    .gh {
        color: #999999;
    }

    .gi {
        background-color: #ddffdd;
        color: var(--color-base-lightest);
    }

    .gi .x {
        background-color: #aaffaa;
        color: var(--color-base-lightest);
    }

    .go {
        color: #888888;
    }

    .gp {
        color: #555555;
    }

    .gu {
        color: #aaaaaa;
    }

    .gt {
        color: #aa0000;
    }

    .kt {
        color: #445588;
    }

    .m {
        color: var(--highlight-number);
    }

    .s {
        color: var(--heading-string);
    }

    .na {
        color: var(--highlight-property);
    }

    .nb {
        color: #0086b3;
    }

    .nd {
        color: var(--heading-class);
    }

    .nc {
        color: var(--heading-class);
    }

    .no {
        color: #008080;
    }

    .ni {
        color: #800080;
    }

    .ne {
        color: #990000;
    }

    .nf {
        color: var(--highlight-property);
    }

    .nl {
        color: var(--highlight-property);
    }

    .p {
        color: var(--color-base-lightest);
    }

    .nn {
        color: #555555;
    }

    .nt {
        color: var(--highlight-property);
    }

    .nv {
        color: var(--highlight-at);
    }

    .w {
        color: #bbbbbb;
    }

    .mf {
        color: #009999;
    }

    .mh {
        color: #009999;
    }

    .mi {
        color: #009999;
    }

    .mo {
        color: #009999;
    }

    .sb {
        color: var(--heading-string);
    }

    .sc {
        color: var(--heading-string);
    }

    .sd {
        color: var(--heading-string);
    }

    .s2 {
        color: var(--heading-string);
    }

    .se {
        color: var(--heading-string);
    }

    .sh {
        color: var(--heading-string);
    }

    .si {
        color: var(--heading-string);
    }

    .sx {
        color: var(--heading-string);
    }

    .sr {
        color: #009926;
    }

    .s1 {
        color: var(--heading-string);
    }

    .ss {
        color: #990073;
    }

    .bp {
        color: #999999;
    }

    .vc {
        color: #008080;
    }

    .vg {
        color: #008080;
    }

    .vi {
        color: #008080;
    }

    .il {
        color: #009999;
    }
}

.highlighter-rouge .highlight {
    background: #eeeeff;
}
