// ----------------------------------------------------------------
// This file contains all styles related to the syntax highlighter
// ----------------------------------------------------------------
.highlight {
    background-color: var(--highlight-bg);
    color: var(--color-base-lightest);
    overflow-x: scroll;
    position: relative;
    margin-left: calc(var(--space-l) * -1);
    margin-right: calc(var(--space-l) * -1);
    width: 100vw;

    @media (min-width: $mq-l) {
        border-radius: var(--border-radius-xxs);
        margin-left: 0;
        margin-right: calc((var(--space-xxl) + var(--meta-width-m)) * -1);
        width: auto;
    }

    pre {
        padding: var(--space-l);

        @media (min-width: $mq-l) {
            margin-left: auto;
            margin-right: auto;
            max-width: var(--grid-width); // Magic String: Do not change/remove
            padding: var(--space-xl);
        }
    }

    .c {
        color: #999988;
        font-style: italic;
    }

    .err {
        background-color: #e3d2d2;
        color: #a61717;
    }

    .k {
        color: var(--highlight-at);
    }

    .cm {
        color: #999988;
        font-style: italic;
    }

    .cp {
        color: #999999;
    }

    .c1 {
        color: var(--highlight-comment);
        font-style: italic;
    }

    .cs {
        color: #999999;
        font-style: italic;
    }

    .gd {
        background-color: #ffdddd;
        color: var(--color-base-lightest);
    }

    .gd .x {
        background-color: #ffaaaa;
        color: var(--color-base-lightest);
    }

    .ge {
        font-style: italic;
    }

    .gr {
        color: #aa0000;
    }

    .gh {
        color: #999999;
    }

    .gi {
        background-color: #ddffdd;
        color: var(--color-base-lightest);
    }

    .gi .x {
        background-color: #aaffaa;
        color: var(--color-base-lightest);
    }

    .go {
        color: #888888;
    }

    .gp {
        color: #555555;
    }

    .gu {
        color: #aaaaaa;
    }

    .gt {
        color: #aa0000;
    }

    .kt {
        color: #445588;
    }

    .m {
        color: var(--highlight-number);
    }

    .s {
        color: var(--heading-string);
    }

    .na {
        color: var(--highlight-property);
    }

    .nb {
        color: #0086b3;
    }

    .nd {
        color: var(--heading-class);
    }

    .nc {
        color: var(--heading-class);
    }

    .no {
        color: #008080;
    }

    .ni {
        color: #800080;
    }

    .ne {
        color: #990000;
    }

    .nf {
        color: var(--highlight-property);
    }

    .nl {
        color: var(--highlight-property);
    }

    .p {
        color: var(--color-base-lightest);
    }

    .nn {
        color: #555555;
    }

    .nt {
        color: var(--highlight-property);
    }

    .nv {
        color: var(--highlight-at);
    }

    .w {
        color: #bbbbbb;
    }

    .mf {
        color: #009999;
    }

    .mh {
        color: #009999;
    }

    .mi {
        color: #009999;
    }

    .mo {
        color: #009999;
    }

    .sb {
        color: var(--heading-string);
    }

    .sc {
        color: var(--heading-string);
    }

    .sd {
        color: var(--heading-string);
    }

    .s2 {
        color: var(--heading-string);
    }

    .se {
        color: var(--heading-string);
    }

    .sh {
        color: var(--heading-string);
    }

    .si {
        color: var(--heading-string);
    }

    .sx {
        color: var(--heading-string);
    }

    .sr {
        color: #009926;
    }

    .s1 {
        color: var(--heading-string);
    }

    .ss {
        color: #990073;
    }

    .bp {
        color: #999999;
    }

    .vc {
        color: #008080;
    }

    .vg {
        color: #008080;
    }

    .vi {
        color: #008080;
    }

    .il {
        color: #009999;
    }
}

.highlighter-rouge .highlight {
    background: #eeeeff;
}
