<form class="contact-form" name="contact" action="/success/" method="POST" data-netlify="true">
    <p class="h3-like">Get in touch</p>
    <p class="small">(All fields are required)</p>

    <label class="h4-like" for="name">Who are you?</label>
    <span class="label-desc">Name, company, how should I call you.</span>
    <input id="name" type="text" name="name" placeholder="J. Doe" aria-required="true" required />

    <label class="h4-like" for="email">Your email address</label>
    <span class="label-desc">So that I can recontact you.</span>
    <input id="email" type="email" name="email" placeholder="j.doe@mail.com" aria-required="true" required />

    <label class="h4-like" for="message">Your message</label>
    <textarea id="message" type="text" name="message" rows="8" placeholder="I would like to contact you..." aria-required="true" required></textarea>

    <button class="btn btn--fill" type="submit">Send</button>
</form>
