<div class="author" lang="en">
    <img class="portrait" src="/assets/images/ignacio-portrait.jpg" alt="Ignacio Villanueva's photo" />
    <p class="author__info">
        Ignacio Villanueva is a {{ site.job }}
        <span class="author__description">{{ site.description }}.</span>
    </p>
    <p class="author__rrss">
            Follow me on <a class="link link--special" href="{{ site.twitter }}" target="_blank" rel="noopener">Twitter</a>, fork me on <a class="link link--special" href="{{ site.github }}" target="_blank" rel="noopener">Github</a> or subscribe via <a class="link link--special" href="/feed.xml">RSS Feed</a>.
    </p>
</div>
