<h3 class="section-caption">
    <span class="u-divider-small"></span>
    <span>Social</span>
</h3>

<a class="link" href="{{ site.github }}" target="_blank" rel="noopener noreferrer me">
    {% include icons/github.html %}
    <span class="link__text">GitHub</span>
</a>
<a class="link" href="{{ site.twitter }}" target="_blank" rel="noopener noreferrer me">
    {% include icons/twitter.html %}
    <span class="link__text">Twitter</span>
</a>

<h3 class="section-caption">
    <span class="u-divider-small"></span>
    <span>Suscribe</span>
</h3>

<a class="link" href="{{ site.rss }}">
    {% include icons/rss.html %}
    <span class="link__text">RSS Feed</span>
</a>

<h3 class="section-caption">
    <span class="u-divider-small"></span>
    <span>Resources</span>
</h3>

<a class="link" href="/resources/">
    {% include icons/bookmark.html %}
    <span class="link__text">Bookmarks</span>
</a>
