<h3 class="section-caption">
    <span class="u-divider-small"></span>
    <span>Social</span>
</h3>

<a class="link" href="{{ site.github }}" target="_blank" rel="noopener">
    {% include icons/github.html %}
    Github
</a>
<a class="link" href="{{ site.twitter }}" target="_blank" rel="noopener">
    {% include icons/twitter.html %}
    Twitter
</a>

<h3 class="section-caption">
    <span class="u-divider-small"></span>
    <span>Suscribe</span>
</h3>

<a class="link" href="{{ site.rss }}">
    {% include icons/rss.html %}
    RSS Feed
</a>

<h3 class="section-caption">
    <span class="u-divider-small"></span>
    <span>Resources</span>
</h3>

<a class="link" href="/resources/">
    {% include icons/bookmark.html %}
    Bookmarks
</a>
