<ul class="pagination">
    {% if paginator.previous_page %}
        <li>
            <a class="btn btn--fill" href="{{ paginator.previous_page_path }}">
                {% include icons/arrow-prev.html %}
                <span>Previous</span>
            </a>
        </li>
    {% endif %}

    {% if paginator.next_page %}
        <li>
            <a class="btn btn--fill" href="{{ paginator.next_page_path }}">
                <span class="btn__text">Next</span>
                {% include icons/arrow-next.html %}
            </a>
        </li>
    {% endif %}
</ul>
