<div class="">
    <footer class="" role="contentinfo">
        <h2 class="">Always Learning</h2>
        <div class="">
            <ul class="">
                <li>
                    {% include external-link.html %}
                    <a href="https://twitter.com/IgnaciodeNuevo" rel="me" target="blank">Twitter</a>
                </li>
                <li>
                    {% include external-link.html %}
                    <a href="{{ site.github }}" rel="me" target="blank">Github</a>
                </li>
                <li>
                    {% include external-link.html %}
                    <a href="/feed.xml">RSS Feed</a>
                </li>
            </ul>
            <ul class="">
                <li>
                    {% include external-link.html %}
                    <a href="mailto:{{ site.email }}" rel="me">Email</a>
                </li>
                <li>
                    {% include external-link.html %}
                    </svg>
                    <a href="/resources/">Resources</a>
                </li>
                <li>
                    {% include external-link.html %}
                    <a href="/CV/">CV</a>
                </li>
            </ul>
        </div>

        <hr>

        <p>Articles licenced under
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
        </p>
        <p>Code licensed under
            <a href="/license" target="_blank">The MIT License (MIT)</a>
        </p>
    </footer>
</div>
