<header class="header" role="banner">
    <nav class="nav-main" aria-label="Main navigation on big screens">
        <a class="nav-main__logo-link u-lgbt" href="/">{% include icons/logo-horizontal.html %} <span class="beta">BETA</span></a>

        <div class="nav-items">
            {% for item in site.data.nav %}
                <a class="link{% if page.url == item.url %}  is-active{% endif %}" href="{{ item.url }}">
                    {{ item.label }}
                </a>
            {% endfor %}
        </div>

        <button id="js-open-menu" class="btn btn--regular" aria-controls="js-nav">
            {% include icons/hamburguer.html %}
            Open Menu
        </button>
    </nav>
</header>
