<nav class="offcanvas" id="js-nav" aria-label="Main navigation on small screens">
    <div class="offcanvas__header">
        <button id="js-close-menu" class="btn btn--inverted" aria-controls="js-nav">
            {% include icons/hamburguer.html %}
            <span>
                <span class="u-visually-hidden">Close</span>
                <span>Menu</span>
            </span>
        </button>
    </div>

    <div class="offcanvas__counter">{% include layout-nav.html %}</div>

    <h2 class="section-caption">
        <span class="u-divider-small"></span>
        <span>Social Networks</span>
    </h2>

    {% include component-rrss.html %}

    <h2 class="section-caption">
        <span class="u-divider-small"></span>
        <span>Suscribe</span>
    </h2>

    <a class="link" href="{{ site.rss }}">RSS Feed </a>

    <h2 class="section-caption">
        <span class="u-divider-small"></span>
        <span>Contact</span>
    </h2>

    <a class="link" href="/about/#contact">Contact</a>
</nav>
