<aside class="offcanvas" id="js-nav" aria-label="Main navigation">
    <button id="js-close-menu" class="btn" aria-controls="js-nav">
        <svg width="30" height="30" viewBox="0 0 30 30" aria-hidden="true">
            <rect width="30" height="3" />
            <rect y="24" width="30" height="3" />
            <rect y="12" width="30" height="3" />
        </svg>
        <span class="menu-text">Close Menu</span>
    </button>
    {% include layout-nav.html %}

    <div class="nav-rss">
        <a class="link" href="{{ site.github }}" target="_blank" rel="noopener">
            <span class="link-label">Github</span>
        </a>
        <a class="link" href="{{ site.twitter }}" target="_blank" rel="noopener">
            <span class="link-label">Twitter</span>
        </a>
    </div>

    <div class="nav-contact">
        <a class="link" href="{{ site.rss }}"> <span class="link-label">RSS Feed</span> </a>
        <a class="link" href="/about/#contact"> <span class="link-label">Contact</span> </a> {%
        include component-email.html %}
    </div>
</aside>
