<footer class="" role="contentinfo">
    <h2 class="">Always Learning</h2>
    <div class="">
        <ul class="">
            <li>
                {% include /icons/twitter.html %}
                <a href="{{ site.twitter }}" rel="me" target="blank">Twitter</a>
            </li>
            <li>
                {% include icons/github.html %}
                <a href="{{ site.github }}" rel="me" target="blank">Github</a>
            </li>
            <li>
                {% include icons/rss.html %}
                <a href="/feed.xml">RSS Feed</a>
            </li>
        </ul>
        <ul class="">
            <li>
                {% include icons/email.html %}
                {% include component-email.html %}
            </li>
            <li>
                {% include icons/resources.html %}
                </svg>
                <a href="/resources/">Resources</a>
            </li>
            <li>
                {% include icons/cv.html %}
                <a href="/cv/">CV</a>
            </li>
        </ul>
    </div>

    <hr>

    <p>Articles licenced under
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">CC BY-NC-SA 4.0</a>
    </p>
    <p>Code licensed under
        <a href="/license" target="_blank" rel="noopener">The MIT License (MIT)</a>
    </p>
</footer>
