<nav class="offcanvas" id="js-nav" aria-label="Main navigation on small screens">
    <div class="offcanvas__header">
        <a class="offcanvas__logo" href="/" aria-hidden="true">{% include icons/logo-horizontal.html %}</a>

        <button id="js-close-menu" class="btn btn--inverted" aria-controls="js-nav">
            {% include icons/hamburguer.html %} <span>Menu</span>
        </button>
    </div>

    {% include layout-nav.html %}

    <a class="link" href="{{ site.github }}" target="_blank" rel="noopener"> Github </a>
    <a class="link" href="{{ site.twitter }}" target="_blank" rel="noopener"> Twitter </a>

    <a class="link" href="{{ site.rss }}">RSS Feed </a>
    <a class="link" href="/about/#contact">Contact </a> {% include component-email.html %}
</nav>
