<div class="logo-wrapper">
    <a href="/">{% include icons/logo-horizontal.html %}</a>
</div>


<button id="js-menu" class="menu">
    {% include icons/hamburguer.html %}
    <span class="menu-text">Menu</span>
</button>


<div id="js-offcanvas" class="offcanvas">
    <button id="js-close" class="menu">
        {% include icons/close.html %}
    </button>


    <div class="nav-items">
        {% for item in site.data.nav %}
        <a class="link" {% if page.url==item.url %}class="is-active" {% endif %} href="{{ item.url }}">
            <span class="link-label">{{ item.label }}</span>
        </a>
        {% endfor %}
    </div>


    <div class="nav-rss">
        <a class="link" href="{{ site.github }}" target="_blank" rel="noopener">
            <span class="link-label">Github</span>
        </a>
        <a class="link" href="{{ site.twitter }}" target="_blank" rel="noopener">
            <span class="link-label">Twitter</span>
        </a>
        <a class="link" href="{{ site.mastodon }}" target="_blank" rel="noopener">
            <span class="link-label">Mastodon</span>
        </a>
    </div>


    <div class="nav-contact">
        <a class="link" href="{{ site.rss }}">
            <span class="link-label">RSS Feed</span>
        </a>
        <a class="link" href="/about/#contact">
            <span class="link-label">Contact</span>
        </a>
        {% include component-email.html %}
    </div>
</div>

<script>
    const menu = document.querySelector('#js-menu');
    const close = document.querySelector('#js-close');
    const offcanvas = document.querySelector('#js-offcanvas');
    menu.addEventListener('click', function () {
        offcanvas.classList.toggle('is-opened');
    }, false);

    close.addEventListener('click', function () {
        offcanvas.classList.toggle('is-opened');
    }, false);
</script>
