<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ignacio Villanueva &ndash; Front-end Developer focusing front-end architecture, front-end performance and responsive web design.</title>

    <!-- StyleSheets & DNS Prefetch -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="{{ site.twitter }}">
    <link rel="dns-prefetch" href="//platform.twitter.com">
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,400|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Robots & indexing -->
    {% if page.external %}
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="refresh" content="0;url={{ page.external.url }}" /> {% else %}
    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="1 days"> {% endif %}

    <!-- Open Graph data -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/images/logo.jpg" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />
    <meta property="og:site_name" content="{{ site.url }}" />

    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@IgnaciodeNuevo">
    <meta name="twitter:domain" content="{{ site.url }}">
    <meta name="twitter:creator" content="@IgnaciodeNuevo">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/images/logo.jpg">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml
        " | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/images/favicon/manifest.json">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#0047bb">
    <meta name="theme-color" content="#ffffff">

    <!-- Chrome for Android Toolbar Color-->
    <meta name="theme-color" content="#0047BB">

    <!-- Other -->
    <meta name="description" content="Articles on CSS, Sass, architecture, front-end performance, and mobile and responsive web design based in Barcelona.">

</head>
<!--
.___                            .__           .___      _______
|   | ____   ____ _____    ____ |__| ____   __| _/____  \      \  __ __   _______  ______
|   |/ ___\ /    \\__  \ _/ ___\|  |/  _ \ / __ |/ __ \ /   |   \|  |  \_/ __ \  \/ /  _ \
|   / /_/  >   |  \/ __ \\  \___|  (  <_> ) /_/ \  ___//    |    \  |  /\  ___/\   (  <_> )
|___\___  /|___|  (____  /\___  >__|\____/\____ |\___  >____|__  /____/  \___  >\_/ \____/
   /_____/      \/     \/     \/               \/    \/        \/            \/

   - Twitter: @IgnaciodeNuevo - GitHub: IgnaciodeNuevo - Email: {{ site.email }} -

-->
