// -----------------------------------------------------------------------------
// This file contains all styles related to the 404 of the website.
// -----------------------------------------------------------------------------
.page-404 {
    background-color: var(--color-primary, #0047bb);
    background-image: url("/assets/images/ignacio-404.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-base-lightest, #efefef);
    height: 100vh;
    padding: var(--space-m, 1rem);
    position: relative;
}
