// -----------------------------------------------------------------------------
// This file contains all styles related to the 404 of the website.
// -----------------------------------------------------------------------------
.page-404 {
    background-color: var(--color-primary, #0047bb);
    background-image: url('/assets/images/ignacio-404.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: var(--color-white, #ffffff);
    position: relative;
    height: 100vh;
    padding: var(--space-m, 1rem);
}
