.cv {
    @include pattern();

    overflow: hidden;
    position: relative;


    @media print {
        background-color: initial;
        background-image: initial;
    }

    &:after {
        @include section("/Curriculum", var(--color-base-dark));
    }

    &__page {
        color: var(--color-base-lightest);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--a4-width);
        padding-bottom: var(--space-xl);
        padding-left: var(--space-m);
        padding-right: var(--space-m);
        padding-top: var(--space-xl);
        padding: var(--space-m);
        position: relative;
        width: 100%;

        @media (min-width: $mq-l) {
            padding: var(--space-xl);
        }

        @media (min-width: $mq-s) {
            padding-left: var(--space-l);
            padding-right: var(--space-l);
        }

        @media (min-width: $mq-l) {
            padding-bottom: var(--space-xxl);
            padding-top: var(--space-xxl);
        }

        @media print {
            color: var(--color-base-dark);
            padding: 0;
        }
    }

    &__title,
    &__subtitle {
        @media (min-width: $mq-print) {
            text-align: center;
        }

        @media print {
            color: var(--color-primary);
        }
    }

    &__section {
        margin-bottom: var(--space-l);
    }

    &__section-title {
        @media (min-width: $mq-print) {
            max-width: var(--cv-column-width);
            text-align: right;
        }
    }

    &__row {
        margin-bottom: var(--space-l);

        @media (min-width: $mq-print) {
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: var(--cv-column-width) 1fr;
            margin-bottom: 0;
        }
    }

    &__row-title {
        width: 100%;

        @media (min-width: $mq-print) {
            max-width: var(--cv-column-width);
            text-align: right;
        }
    }

    &__content {
        margin-bottom: var(--space-l);
    }

    &__list {
        margin-bottom: 0;
        margin-top: 0;
    }

    .h5-like,
    .h6-like {
        margin-bottom: 0.67em;
    }

    h3,
    h4,
    p {
        margin-bottom: 0;
    }

    @media print {
        .link {
            text-decoration: none;
        }
    }
}
