//
// Debug
// TODO: Remove after reviewing
//

b,
cite,
em {
    // border: 4px solid red !important;
    font-style: initial;
    font-weight: initial;
    font-family: var(--font-family-body-regular);
}

img:not([src]) {
    border-color: red !important;

    border-style: solid;
    border-width: 10px !important;
}

//
// TODO: Remove if not necessary
// Was in: _article.scss uhnde &__subtitle { line: 61
//
.article__subtitle {
    .icon {
        border: 4px solid red !important;
        fill: red !important;
        margin-bottom: calc(#{var(--space-xxs)} * -1);// Visual correction to align the text
    }
}

//
// TODO: Check if every external link has target="_blank" attribute
//
// a:not([target="_blank"]) {
//     border: 4px solid orchid !important;
// }

//
// TODO: Check if every external link has rel="noopener" attribute
//
// a:not([rel="noopener"]) {
//     background-color: green !important;
// }
