// ----------------------------------------------------------------
// This file contains all styles related to the blog post page.
// ----------------------------------------------------------------
.post {
    .content {
        @media (min-width: $mq-l) {
            margin: 0 auto;
            max-width: var(--content-max-width);
            padding-right: calc(#{var(--content-max-width)} - #{var(--content-width)});
            position: relative;
            width: 85%;
        }
    }

    .meta + p::first-letter {
        background-color: var(--color-primary);
        background-image: var(--linear-gradient);
        color: var(--color-base-lightest);
        float: left;
        font-family: var(--font-family-title);
        font-size: 3em; // TODO: Review in small screens
        margin-right: var(--space-s);
        margin-top: var(--space-xs);
        padding: var(--space-m);
    }

    img {
        max-width: 100%;
    }
}
