//
// Resource
//
.resource {
  position: relative;
  background-color: $lightGrey;
  border-radius: $borderRadius;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border: 3px solid $lightGrey;
  box-shadow: 0 4px 3px -2px $darkGrey;

  &:hover {
    border: 3px solid $mainColor;
  }

  &:hover .article__h3 {
    color: $mainColor;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & a {
    @include underLine(transparent, $mainColor, 0);
  }
}

	//
	// Number of publication/project
	//
	.resource__type {
		position: absolute;
		height: 45px;
		max-width: 317px;
		margin-top: -13px;
		padding: 0 12px;
		font-size: 15.3px;
		font-weight: normal;
		text-align: center;
		line-height: 40px;
		background-color: $mainColor;
		color: $bgColor;
		border-radius: $borderRadius;
	}
		
		.resource__h3,
		.resource__description,
		.resource__url {
			margin-left: 15px;
		}

		.resource__url {
			margin-top: -2px;
		}

		.resource__h3 {
			margin-top: 40px;
			margin-bottom: 5px;
		}

		.resource__description {
			margin-bottom: 20px;
  			font-size: 90%;
  			color: $darkGrey;
  		}

  		.resource__url {
		  	margin-top: 0;
		  	margin-bottom: 5px;
		  	font-size: 90%;
	
			& a {
				@include dashedUnderLine($mainColor, $mainColor, 1px)
			}
	
			& a:hover {
			  	@include underLine($mainColor, $mainColor, 1px)
		  	}
		}