//
// Search styles
//
.search-container {
  clear: both;
  margin-top: 80px;
}

.search-input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

#results-container {
	padding-left: 0;
}

#search-input {
    border: 3px solid $mainColor;
    border-radius: $borderRadius;
    padding: 10px;
}