//
// Search styles
//

.speaking {
  position: relative;
  background-color: $lightGrey;
  border-radius: $borderRadius;
  margin-bottom: 30px;
  padding: 10px;
  border: 3px solid $lightGrey;
  //border-bottom: 3px solid $darkGrey;
  box-shadow: 0 4px 3px -2px $darkGrey;


  &:hover {
    border: 3px solid $mainColor;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & a {
    @include underLine(transparent, $mainColor, 0);
  }
}

// Subeading H3
// 1. Vertical rhythm
//
.speaking__h3 {
  margin-top: 7px; // 1
  margin-bottom: 5px; // 1
  color: $darkGrey;
}

//
// Date of publication
// 
.speaking__date {
  font-family: $codeFont;
  font-size: 80%;
  color: $darkGrey;
}

//
// Article excerpt
// 1. Vertical rhythm
//
.speaking__excerpt {
  margin-bottom: 0; // 1
  font-size: 90%;
  color: $darkGrey;

  a {
    font-size: 110%;
  }
}

.speaking__link {
  height: 20px;
  margin-bottom: -4px;
  width: 20px;

  & path {
    fill: $mainColor;
  }
}

