// -----------------------------------------------------------------------------
// This file contains all styles related to the /tags page of the website.
// -----------------------------------------------------------------------------
.tags {
    .articles-list:last-of-type {
        margin-bottom: var(--space-l);
    }

    &__list {
        list-style-type: none;
        margin-bottom: var(--space-l);
        margin-left: auto;
        margin-right: auto;
        max-width: var(--container-max-width);
        overflow: hidden;
        padding: 0;

        .btn {
            &:not(:last-of-type) {
                margin-bottom: var(--space-s);
                margin-right: var(--space-s);
            }
        }
    }
}
