// -----------------------------------------------------------------------------
// This file contains all styles related to the /tags page of the website.
// -----------------------------------------------------------------------------
.tags {
    .articles-list:last-of-type {
        margin-bottom: var(--space-l, 2rem);
    }

    &__list {
        list-style-type: none;
        margin-bottom: var(--space-l, 2rem);
        overflow: hidden;
        padding: 0;

        .btn {
            &:not(:last-of-type) {
                margin-bottom: var(--space-s, 0.5rem);
                margin-right: var(--space-s, 0.5rem);
            }
        }
    }
}
