// -----------------------------------------------------------------------------
// This file contains all application-wide Custom Properties
// -----------------------------------------------------------------------------
:root {
    --color-white: #ffffff;
    --color-base: #000000;
    --color-base-dark: #0b0b0a;
    --color-base-medium: #151514;
    --color-base-light: #2d2d2d;

    --color-primary: #0047bb;
    --color-secondary: #ffd300;
    --line-color: #262626;

    --box-shaodw: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);

    --animation-speed: 0.25s;
    --animation-type-in: ease-in;
    --animation-type-cubic: cubic-bezier(0, 0, 0.3, 1);

    --font-family-body-fallback: Arial, sans-serif;
    // --font-family-body-subset: 'Brando Regular Sans Subset', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-family-body: 'Brando Regular Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-family-title-fallback: Georgia, sans-serif;
    // --font-family-title-subset: 'Guardian Bold Egyptian Subset', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, serif;
    --font-family-title: 'Guardian Bold Egyptian', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, serif;
    --font-family-code: 'Input', monospace;

    --fake-bold: bold;

    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    --scale: 1.25;

    --font-base: 1rem;
    --font-small: 75%;
    --letter-spacing: 0.125rem;

    --nav-height: 4.5rem;
    --horizontal: 1rem;
    --vertical: 4rem;

    --space-xxs: calc(var(--font-base) / 8);
    --space-xs: calc(var(--font-base) / 4);
    --space-s: calc(var(--font-base) / 2);
    --space-m: calc(var(--font-base));
    --space-l: calc(var(--font-base) * 2);
    --space-xl: calc(var(--font-base) * 4);
    --space-xxl: calc(var(--font-base) * 8);

    --border-radius-xxs: var(--space-xxs);
    --border-radius-xs: var(--space-xs);
    --border-radius-s: var(--space-s);
    --border-radius-m: var(--space-m);
    --border-radius-l: var(--space-l);
    --border-radius-xl: var(--space-xl);
    --border-radius-xxl: var(--space-xxl);

    --icon-xxs: var(--space-xxs);
    --icon-xs: var(--space-xs);
    --icon-s: var(--space-s);
    --icon-m: var(--space-m);
    --icon-l: var(--space-l);
    --icon-xl: var(--space-xl);
    --icon-xxl: var(--space-xxl);

    --z-index-s: 1;
    --z-index-m: 2;
    --z-index-l: 3;
    --z-index-xl: 4;
}
