// -----------------------------------------------------------------------------
// This file contains all application Sass variables.
// -----------------------------------------------------------------------------

$mq-xxs: 20em; // 320px
$mq-special: 23.4375em; // 375px: iPhone wired size
$mq-xs: 30em; // 480px
$mq-s: 48em; // 768px
$mq-m: 61.25em; // 980px
$mq-l: 80em; // 1280px
$mq-xl: 90em; // 1440px
$mq-xxl: 160em; // 2650px
$mq-print: 297mm;
