---
layout: list
title: "Writing"
---
<h1>Latest articles</h1>

<p>I use to write a lot. If you are looking for something specific, <a class="link" href="/search">hit the search</a>.</p>

{% for post in paginator.posts %}
    <article class="article">
        <a class="article__link" href="{{ post.url }}" lang="es">
            <time class="article__time" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %-d %Y" }}</time>
            <h4 class="article__subtitle">{{ post.title }}</h4>
        </a>
    </article>
{% endfor %}


<ul class="pagination">
    {% if paginator.previous_page %}
        <li>
            <a class="btn btn--fill" href="{{ paginator.previous_page_path }}">
                {% include icons/arrow-prev.html %}
                <span>Previous</span>
            </a>
        </li>
    {% endif %}

    {% if paginator.next_page %}
        <li>
            <a class="btn btn--fill" href="{{ paginator.next_page_path }}">
                <span class="btn__text">Next</span>
                {% include icons/arrow-next.html %}
            </a>
        </li>
    {% endif %}
</ul>
