//*****************************************
//	$COLORS
//*****************************************
$bgColor:					#ffffff;
$lightGrey:				#eaeaea;
$mediumGrey:				#a3a3a3;
$darkGrey:					#222222;

$mainColor: 				#C5003E;
$secondaryColor:		#2f3d5a;

$pantonePink:		 	#C8102E;

$pantonePurple: 		#5F259F;

$pantoneBlueOne:	#0047BB;
$pantoneBlueTwo: 	#003DA5;



//*****************************************
//	$TYPOGRAPHY
//*****************************************
$sansFont:
		"Roboto",
		"San Francisco",
		"Arial",
		"Helvetica",
		"Verdana",
		sans-serif;

$codeFont:
		"Source Code Pro",
		"Menlo",
		"Monaco",
		"Consolas",
		"Courier New",
		Courier,
		monospace;



//*****************************************
//	$CONTAINER-MAX-WIDTH
//*****************************************
$maxWidth: 800px;



//*****************************************
//	$BREAKPOINTS
//*****************************************
$breakpoints: (
  'medium': (min-width: 600px)
);



//*****************************************
//	$BORDER
//*****************************************
$borderRadius: 3px;
