//*****************************************
//	$COLORS
//*****************************************
$bg-color:					#ffffff;
$light-grey:				#eaeaea;
$medium-grey:				#a3a3a3;
$dark-grey:					#222222;

$main-color: 				#C5003E;
$secondary-color:		#2f3d5a;

$pantone-pink:		 	#C8102E;

$pantone-purple: 		#5F259F;

$pantone-blue-one:	#0047BB;
$pantone-blue-two: 	#003DA5;



//*****************************************
//	$TYPOGRAPHY
//*****************************************
$sans-font:
		"Roboto",
		"San Francisco",
		"Arial",
		"Helvetica",
		"Verdana",
		sans-serif;

$code-font:
		"Source Code Pro",
		"Menlo",
		"Monaco",
		"Consolas",
		"Courier New",
		Courier,
		monospace;



//*****************************************
//	$CONTAINER-MAX-WIDTH
//*****************************************
$max-width: 800px;



//*****************************************
//	$BREAKPOINTS
//*****************************************
$breakpoints: (
  'medium': (min-width: 600px)
);



//*****************************************
//	$BORDER
//*****************************************
$border-radius: 3px;
