@mixin linear-gradient-line-after() {
    background-color: var(--color-primary);
    background-image: linear-gradient(to right, var(--color-base-lightest) 0, var(--color-primary) 66%, var(--color-base-dark) 100%);
    bottom: 0;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%;
}

@mixin linear-gradient-line-before() {
    background-color: var(--color-primary);
    background-image: linear-gradient(to right, var(--color-base-lightest) 0, var(--color-primary) 66%, var(--color-base-dark) 100%);
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
