@mixin all-small-caps() {
    font-variant-caps: all-small-caps;
    font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
       -moz-font-feature-settings: "c2sc", "smcp";
    letter-spacing: var(--letter-spacing, 0.05em); // Equals 5%
}
