@mixin opentype-all-opentype-small-caps() {
    font-feature-settings: "c2sc", "smcp";
    font-variant-caps: opentype-all-opentype-small-caps;
    letter-spacing: var(--letter-spacing-m); // Equals 5%
}

@mixin opentype-small-caps() {
    font-feature-settings: "onum", "smcp", "c2sc" 0;
    font-variant-caps: opentype-small-caps;
    letter-spacing: var(--letter-spacing-m); // Equals 5%
}

@mixin opentype-liga() {
    // Best case scenario, just use `font-variant-*`.
    font-variant-ligatures: common-ligatures;
    // IE doesn’t support @supports; explicitly use the prefixed version.

    -ms-font-feature-settings: "liga";
    @supports not (font-variant-ligatures: common-ligatures) {
        font-feature-settings: "liga";
    }
}
