@import "../../../node_modules/modularscale-sass/stylesheets/modularscale";
$modularscale: (
    base: 1rem,
    ratio: 1.2,
);

@mixin section($section-text, $color: currentColor) {
    display: none;

    @media (min-width: $mq-l) {
        bottom: -(ms(14) / 3);
        color: $color;
        content: "#{$section-text}";
        display: block;
        font-family: var(--font-family-title, "Guardian Bold Egyptian", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, serif);
        font-size: ms(14);
        margin-top: 0;
        position: absolute;
        right: 0;
        white-space: nowrap;
    }
}
