// -------------------------------------------------------------------------------------------------------
// This file contains all styles related to the article item to iterate in /blog, /speaking and /projects.
// -------------------------------------------------------------------------------------------------------
.articles {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.article {
    border-bottom: 1px solid currentColor;
    color: inherit;
    padding-bottom: var(--space-m, 1rem);
    padding-left: var(--space-xs, 0.5rem);
    padding-top: var(--space-m, 1rem);

    @include transition();

    &.is-active {
        display: block;
    }

    &.is-hidden {
        display: none;
    }

    &:hover {
        background-color: var(--color-base-dark, #262626);
        color: var(--color-base-dark, #262626);

        .article__time {
            color: var(--color-base-lightest, #efefef);
        }

        .article__subtitle {
            color: var(--color-secondary, #ffd300);
        }
    }

    &__link {
        text-decoration: none;

        &:hover {
            background-color: var(--color-base-dark, #262626);
            color: var(--color-base-dark, #262626);

            .article__time {
                color: var(--color-base-lightest, #efefef);
            }

            .article__subtitle {
                color: var(--color-secondary, #ffd300);
            }
        }
    }
    &__time {
        color: var(--color-base-light, #808080);
        display: block;
        margin-bottom: var(--space-xs, 0.25rem);

        @include all-small-caps();
        @include body-small();
    }

    &__subtitle {
        color: var(--color-primary, #0047bb);
        margin-bottom: 0;

        @include body-text();

        .icon {
            margin-bottom: calc(#{var(--space-xxs, 0.125rem)} * -1); // Visual correction to align the text
        }
    }
}
