//
// Blockquotes
// 1. Clear inner floats (if any)
// 2. Vertical rhythm
// 3. Centering blackquote
//
// blockquote {
//   background-color: $darkGrey;
//   color: $bgColor;
//   overflow: hidden; /* 1 */
//   margin-top: 0; // 2
//   margin-right: auto; // 3
//   margin-bottom: 40px; // 2
//   margin-left: auto; // 3
//   padding: 15px;
//   text-align: left;
//   font-size: 90%;
//   //quotes: "\201C""\201D""\2018""\2019";

//   &::before {
//     content: "\201C";
//     //content: open-quote;
//     display: inline-block;
//     margin-top: -25px;
//     margin-left: 505px;
//     font-family: "Arial", $sansFont;
//     font-size: 70px;
//     font-size: 4.375rem;
//     font-style: normal;
//     font-weight: bold;
//     color: $bgColor;
//   }
// }


blockquote {
  position: relative;
  margin-bottom: 24px;
  padding: 35px 25px 20px;
  color: $bgColor;
  text-align: left;
  font-size: 90%;

  &::before {
    position: absolute;
    content: '\201C';
    top: -5px;
    left: 12px;
    color: $bgColor;
    font-family: "Arial", $sansFont;
    font-size: 70px;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: bold;
  }
}

//
// Prevent an odd gap when the first child of blockquote as a top margin
//
blockquote > :first-child {
  margin-top: 0;
}

//
// Prevent an odd gap when the last child of blockquote as a top margin
//
blockquote > :last-child {
  margin-bottom: 0;
}

//
// Prevent, as every blockquote by default has a $main-color and links are $main-color to, not being legible.
// So change links color to $bg-color
//
blockquote a {
  @include dashedUnderLine($bgColor, $bgColor, 1px);
  &:hover {
    @include underLine($bgColor, $bgColor, 1px);
  }
}

//
// Every p tag inside a blockquote should be italic
//
blockquote p {
  margin-left: 30px;
  font-style: italic;
}
