//
// Blockquotes
// 1. Clear inner floats (if any)
// 2. Vertical rhythm
// 3. Centering blackquote
//
blockquote {
  position: relative;
  margin-bottom: 24px;
  padding: 35px 25px 20px;
  color: $bgColor;
  text-align: left;
  font-size: 90%;

  &::before {
    position: absolute;
    content: '\201C';
    top: -5px;
    left: 12px;
    color: $bgColor;
    font-family: "Arial", $sansFont;
    font-size: 70px;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: bold;
  }
}

//
// Makes the container of every blockquote background-color: $darkGrey
//
.blockquote {
  background-color: $darkGrey;
}

//
// Prevent an odd gap when the first child of blockquote as a top margin
//
blockquote > :first-child {
  margin-top: 0;
}

//
// Prevent an odd gap when the last child of blockquote as a top margin
//
blockquote > :last-child {
  margin-bottom: 0;
}

//
// Prevent, as every blockquote by default has a $main-color and links are $main-color to, not being legible.
// So change links color to $bg-color
//
blockquote a {
  @include dashedUnderLine($bgColor, $bgColor, 1px);
  &:hover {
    @include underLine($bgColor, $bgColor, 1px);
  }
}

//
// Every p tag inside a blockquote should be italic
//
blockquote p {
  margin-left: 30px;
  font-style: italic;
}
