// ------------------------------------------------------------------
// This file contains all styles related to the blockquote component.
// ------------------------------------------------------------------
.quote {
    background-color: var(--color-base-lightest);
    border-radius: var(--border-radius-xxs);
    font-family: var(--font-family-title);
    margin-left: 0;
    margin-right: 0;
    padding: var(--space-l);
    position: relative;

    @include transition(background-color);

    @media (min-width: $mq-l) {
        background-color: initial;
        border-radius: initial;
        float: right;
        margin-left: var(--space-l);
        margin-right: 15rem;
        margin-top: 0.5em; // Visual correction. Magic String: Do not change/remove
        padding-bottom: initial;
        padding-left: initial;
        padding-right: initial;
        padding-top: var(--space-m);
        width: 30%;

        &::before {
            @include linear-gradient-line-before();
        }
    }

    &:after {
        color: var(--color-primary);
        content: open-quote;
        font-family: var(--font-family-body-semibold);
        font-size: 6rem; // Magic String: Do not change/remove
        left: 0;
        opacity: var(--opacity-m);
        position: absolute;
        top: calc(var(--space-m) * -1);

        @media (min-width: $mq-l) {
            opacity: var(--opacity-s);
        }
    }

    span {
        display: block;
        margin-bottom: 1em;
    }

    cite {
        color: var(--color-base-dark);

        @include caption();
    }

    .link {
        font-family: inherit;
        text-decoration: none;
    }
}
