// -----------------------------------------------------------------------------
// This file contains all styles related to the buttons of the website.
// -----------------------------------------------------------------------------
.btn {
    align-items: center;
    border-radius: var(--border-radius-xxs, 0.25rem);
    display: flex;
    justify-content: center;
    padding: var(--space-s, 0.5rem);

    @include transition();

    &:hover {
        background-color: var(--color-white, #ffffff);
        color: var(--color-base-dark, #0b0b0a);
        cursor: pointer;
    }

    &:focus {
        border: 2px dotted var(--color-secondary, #ffd300);
        outline: 0;
    }

     > svg {
        fill: currentColor;
        margin-right: var(--space-s, 0.5rem);
    }
}

.btn--fill {
    background-color: var(--color-primary, #0047bb);
    border: 2px solid transparent;
    color: var(--color-white, #ffffff);

    &:active {
        background-color: transparent;
        border-color: var(--color-primary, #0047bb);
        color: var(--color-primary, #0047bb);
    }
}

.btn--ghost {
    background-color: transparent;
    border: 2px solid currentColor;
    color: var(--color-white, #ffffff);
    opacity: 0.5;
    padding: var(--space-s, 0.5rem);

    &:hover {
        border: 2px solid var(--color-white, #ffffff);
        opacity: 1;
    }

    &:active {
        background-color: var(--color-white, #ffffff);
        color: var(--color-base-dark, #0b0b0a);
        opacity: 1;
    }

    &:focus {
        opacity: 1;
    }
}

.btn--inverted {
    background-color: var(--color-base-dark, #0b0b0a);
    border: 2px solid var(--color-base-dark, #0b0b0a);
    color: var(--color-white, #ffffff);
    padding: var(--space-s, 0.5rem);

    &:hover {
        background-color: var(--color-secondary, #ffd300);
        border: 2px solid currentColor;
        color: var(--color-base-dark, #0b0b0a);
        opacity: 1;
    }

    &:active {
        opacity: 0.9;
    }

    &:focus {
        border: 2px dotted var(--color-white, #ffffff);
    }
}
