// -----------------------------------------------------------------------------
// This file contains all styles related to the buttons of the website.
// -----------------------------------------------------------------------------
.btn {
    align-items: center;
    display: inline-flex;
    font-weight: var(--fake-bold, bold);
    justify-content: center;
    letter-spacing: var(--letter-spacing, 0.05em);
    padding-right: var(--space-l, 2rem);
    padding-top: var(--space-xs, 0.25rem);
    padding-bottom: var(--space-xs, 0.25rem);
    padding-left: var(--space-l, 2rem);
    text-decoration: none;
    text-transform: uppercase;

    @include transition();

    &:hover {
        background-color: var(--color-base-lightest, #efefef);
        color: var(--color-base-medium, #262626);
        cursor: pointer;
    }

    &:focus {
        border: 2px dotted var(--color-secondary, #ffd300);
        outline: 0;
    }

     > svg {
        fill: currentColor;
        margin-right: var(--space-s, 0.5rem);
    }
}

.btn--regular {
    background-color: transparent;
    border: 2px solid currentColor;
    color: currentColor;
    padding-bottom: var(--space-m, 1rem);
    padding-top: var(--space-m, 1rem);

    &:active,
    &:hover {
        background-color: var(--color-base-lightest, #efefef);
        border-color: var(--color-base-lightest, #efefef);
        color: var(--color-base-medium, #262626);
    }

    span:first-child {
        margin-right: var(--space-s, 0.5rem);
    }

     > span + svg {
        margin-right: 0;
    }
}

.btn--fill {
    background-color: var(--color-primary, #0047bb);
    border: 2px solid transparent;
    color: var(--color-base-lightest, #efefef);

    &:active {
        background-color: transparent;
        border-color: var(--color-primary, #0047bb);
        color: var(--color-primary, #0047bb);
    }
}

.btn--ghost {
    background-color: transparent;
    border: 2px solid currentColor;
    color: var(--color-base-lightest, #efefef);
    opacity: 0.5;
    padding: var(--space-s, 0.5rem);

    &:hover {
        border: 2px solid var(--color-base-lightest, #efefef);
        opacity: 1;
    }

    &:active {
        background-color: var(--color-base-lightest, #efefef);
        color: var(--color-base-medium, #262626);
        opacity: 1;
    }

    &:focus {
        opacity: 1;
    }
}

.btn--inverted {
    background-color: transparent;
    border: 2px solid currentColor;
    color: var(--color-base-medium, #262626);
    padding: var(--space-s, 0.5rem);

    &:hover {
        background-color: var(--color-base-medium, #262626);
        border-color: var(--color-base-medium, #262626);
        color: var(--color-base-lightest, #efefef);
    }
}
