//
// Force the correct font-stack on all code elements, overriding Prism.js
//
code {
  font-family: $code-font !important;
//  This code makes code blocks 100% width if they are like blockquotes
// 	display: block;
//  width: 100%;
// 	max-width: $max-width;
// 	margin-right: auto;
// 	margin-left: auto;
}

//
// Make code blocks slightly smaller when inside a pre element
//
pre > code {
  font-size: 90%;
  color: $bg-color;
}

//
// Make code blocks slightly smaller when inside a p element
//
p > code {
  font-size: 90%;
  color: $pantone-blue-one;
  background-color: $light-grey;
  padding: 0 3px;
  margin-right: 3px;
  border-radius: $border-radius;
}

//
// Vertical rhythm
// 1. Overrides Prism.js
//
pre {
  margin: 0 -40px 40px !important; // 1
  padding: 20px 40px !important; // 1
  background-color: $dark-grey;
  border-radius: $border-radius;
}
