//
// Force the correct font-stack on all code elements, overriding Prism.js
//
code {
  font-family: $codeFont !important;
//  This code makes code blocks 100% width if they are like blockquotes
// 	display: block;
//  width: 100%;
// 	max-width: $max-width;
// 	margin-right: auto;
// 	margin-left: auto;
}

//
// Make code blocks slightly smaller when inside a pre element
//
pre > code {
  font-size: 90%;
  color: $bgColor;
}

//
// Make code blocks slightly smaller when inside a p element
//
p > code {
  font-size: 90%;
  color: $mainColor;
  background-color: $lightGrey;
  padding: 0 3px;
  margin-right: 3px;
  border-radius: $borderRadius;
}

//
// Vertical rhythm
//
pre {
  background-color: $darkGrey;
  border-radius: $borderRadius;
}
