.contact-form {
    background-color: var(--color-base-lightest, #efefef);
    border-radius: var(--border-radius-xxs, 0.125rem);
    color: var(--color-base-dark, #262626);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-l, 2rem);
    padding: var(--space-l, 2rem);

    input,
    textarea {
        border-radius: var(--border-radius-xxs, 0.125rem);
        border: 2px solid transparent;
        margin-bottom: var(--space-l, 2rem);
        padding: var(--space-s, 0.5rem);

        &:focus {
            border: 2px solid inherit;
        }
    }

    textarea {
        resize: none;
    }

    .h3-like,
    .h4-like {
        margin-bottom: var(--space-xs, 0.25rem);
    }

    .small {
        margin-bottom: var(--space-l, 2rem);
    }

    .label-desc {
        margin-bottom: var(--space-xs, 0.25rem);

        @include body-small();
    }
}
