//
// Figures
// 1. Vertical rhythm
// 2. Clear inner floats
//
.figure {
  margin: 0 -40px 40px; /* 1 */
  overflow: hidden; /* 2 */
}

//
// Figcaption
// 1. Right aligned
//
.figure figcaption {
  float: right; // 1
  margin: 10px 0;
  padding: 0 5px;
  font-size: 80%;
  color: $mainColor;
  border-left: 3px solid $mainColor;
  background-color: $lightGrey;
}

//
// Left floated figures
//
.figure--left {
  @extend .figure;

  @include respond-to('medium') {
    float: left;
    margin-right: 20px;
  }

  //
  // Left align caption then
  //
  figcaption {
    float: left;
  }
}

//
// Right floated figures
//
.figure--right {
  @extend .figure;

  @include respond-to('medium') {
    float: right;
    margin-left: 20px;
  }
}

//
// Floated figures
// 1. Vertical rhythm
//
.figure--left,
.figure--right {
  margin-bottom: 40px; // 1

  @include respond-to('medium') {
    max-width: 250px;
  }

  @media (min-width: 800px) {
    max-width: 400px;
  }
}

//
// Header of every main section of the site
// 1. Vertical rhythm
//
.header-section {
  position: relative;

  // small: 320px (target) / 16px (context) = 19.875em
  @include respond-to('small') {
    max-width: 320px;
    max-width: 20em;
    max-width: 100vw;
  }

  // medium: 600px (target) / 16px (context) = 37.5em
  @include respond-to('medium') {
    max-width: 600px;
    max-width: 37.5em;
    max-width: 100vw;
  }
  
  // big: 800px (target) / 16px (context) = 50em
  @include respond-to('big') {
    max-width: 800px;
    max-width: 50em;
    max-width: 100vw;
  }
}

// Gives every img inside a figure a border-radius of $borderRadius
//
.header-section img {
  border-radius: $borderRadius;
}

//
// Heading level 1 of every main section of the site
// 1. Positioning the heading level 1 inside .header-section
//
.header-section__h1 {
  position: absolute;
  padding: 0 8px;
  font-size: 200%;
  font-weight: 400;
  color: $bgColor;
  background-color: $mainColor;
  border-radius: $borderRadius;

  // small: 320px (target) / 16px (context) = 19.875em
  @include respond-to('small') {
    top: 0; // 1
    left: 10px; // 1
    font-size: 22px;
    font-size: 1.375rem;
  }

  // medium: 600px (target) / 16px (context) = 37.5em
  @include respond-to('medium') {
    top: -22px; // 1
    left: 25px; // 1
    font-size: 27px;
    font-size: 1.6875rem;
  }
  
  // big: 800px (target) / 16px (context) = 50em
  @include respond-to('big') {
    top: -30px; // 1
    left: 31px; // 1
    font-size: 32px;
    font-size: 2rem;
  }
}
