input,
textarea {
    border-radius: var(--border-radius-xxs);
    border: 2px solid transparent;
    margin-bottom: var(--space-l);
    padding: var(--space-s);

    &:focus {
        border: 2px solid currentColor;
    }
}

textarea {
    resize: none;
}
