input,
textarea {
    border-radius: var(--border-radius-xxs);
    border: 2px solid transparent; // Magic String: Do not change/remove
    margin-bottom: var(--space-l);
    padding: var(--space-s);

    &:focus {
        border: 2px solid currentColor; // Magic String: Do not change/remove
    }
}

textarea {
    resize: none;
}
