.form {
    background-color: var(--color-base-lightest, #efefef);
    border-radius: var(--border-radius-xxs, 0.125rem);
    color: var(--color-base-dark, #262626);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-l, 2rem);
    padding: var(--space-l, 2rem);

    .h3-like,
    .h4-like {
        margin-bottom: var(--space-xs, 0.25rem);
    }

    .small {
        margin-bottom: var(--space-l, 2rem);
    }

    .label-desc {
        margin-bottom: var(--space-xs, 0.25rem);

        @include body-small();
    }
}
