// -----------------------------------------------------------------------------
// This file contains all styles related to the link component of the website.
// -----------------------------------------------------------------------------
.link {
    font-family: var(--font-family-body-semibold, "Brando Semibold Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    padding-right: var(--space-s, 0.5rem);
    text-decoration-color: currentColor;
    text-decoration-line: underline;
    text-decoration-skip: ink;
    text-decoration-style: dotted;
    white-space: nowrap;

    &:hover {
        text-decoration-style: solid;
    }

    .icon {
        margin-bottom: calc(#{var(--space-xs, 0.25rem)} * -1); // Visual correction to align the text
    }
}
