// -----------------------------------------------------------------------------
// This file contains all styles related to the link component of the website.
// -----------------------------------------------------------------------------
.link {
    text-decoration-color: currentColor;
    text-decoration-line: underline;
    text-decoration-skip: ink;
    text-decoration-style: dotted;

    @include transition(text-decoration-style);

    &:hover {
        text-decoration-style: solid;
    }
}
