.mailchimp {
	display: flex;
	justify-content: center;
}

.input--center {
  border: 3px solid $mainColor;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 20px;
}

label.text {
  margin-bottom: 25px;
}

.text {
  font: 18px/1.4 $sansFont;
  font: 1.125rem/1.4 $sansFont;
  color: $darkGrey;
}

.btn {
  text-align: center;
  background-color: $mainColor;
  color: $bgColor;
  border-radius: $borderRadius;
  border: 3px solid $mainColor;
  height: 42px;

  &:hover {
    @include underLine(transparent, $mainColor);
  }
}