.mailchimp {
	border-radius: $borderRadius;
  border: 3px solid $mainColor;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 31.25rem;
  padding: 2rem;

  h2 {
    margin-top: 0;
    text-align: center;
  }

  a {
    font-size: 0.8rem;
  }

  .btn {
    text-align: center;
    background-color: $mainColor;
    color: $bgColor;
    border-radius: $borderRadius;
    border: 3px solid $mainColor;
    height: 42px;
    transition: background-color .2s ease,
                border .2s ease;
    width: 100%;

    &:hover {
      background-color: darken($mainColor, 10);
      border: 3px solid darken($mainColor, 10);
    }
  }
}

.asterisk {
  color: $mainColor;
  font-size: 0.8rem;
}

.mailchimp-label {
  margin-bottom: .3rem;
}

.mailchimp-input {
  margin-bottom: 1rem;
  border-radius: $borderRadius;
  border: 1px solid $mainColor;
  padding: .3rem .6rem;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0.8rem;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    font-size: 0.8rem;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    font-size: 0.8rem;
  }
  &:-moz-placeholder { /* Firefox 18- */
    font-size: 0.8rem;
  }
}

.mailchimp-label,
.mailchimp-input {
  display: block;
}
