.meta-wrapper {
    position: relative;

    @media (min-width: $mq-l) {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--content-max-width);
        padding-right: calc(#{var(--content-max-width)} - #{var(--content-width)});
        width: var(--blog-paragraph-width);
    }
}

.meta {
    @include pattern();

    border-radius: var(--border-radius-xs);
    color: var(--color-base-lightest);
    list-style-type: none;
    margin-bottom: var(--space-xl);
    opacity: var(--opacity-hack);
    padding: var(--space-m);
    width: 100%;

    @media (min-width: $mq-l) {
        max-width: var(--meta-width);
        padding: var(--space-l);
        font-size: 1rem;
        position: absolute;
        right: 0;

        &:after {
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4IiBoZWlnaHQ9IjUwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJ2ZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI1NCIgeTE9IjUwIiB4Mj0iNTQiIHkyPSIwIj4KICAgIDxzdG9wIG9mZnNldD0iMCIgc3R5bGU9InN0b3AtY29sb3I6IzMzMzMzMyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAwMDAwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cG9seWdvbiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0idXJsKCN2ZykiIHBvaW50cz0iMCwwIDEwOCwwIDAsNTAgIi8+Cjwvc3ZnPgo=);
            bottom: -50px; // Magic String: Do not change/remove
            content: "";
            height: 50px; // Magic String: Do not change/remove
            opacity: var(--opacity);
            position: absolute;
            right: 3px; // Magic String: Do not change/remove
            width: 108px; // Magic String: Do not change/remove
        }
    }

    li {
        display: flex;
        flex-direction: column;
    }

    .h2-like {
        color: var(--color-secondary);
        font-size: ms(2); // Do not change/move ms() function
        margin-bottom: var(--space-xs);
    }

    .h4-like {
        color: var(--color-secondary);
        font-size: ms(0); // Do not change/move ms() function
        margin-bottom: var(--space-xs);
    }

    .tag {
        color: var(--color-base-lightest);

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}
