.meta {
    background-color: var(--color-base-darkest, #141414);
    border-radius: var(--border-radius-xs, 0.25rem);
    color: var(--color-base-lightest, #efefef);
    list-style-type: none;
    padding: var(--space-m, 1rem);
    z-index: var(--z-index-s, 1);

    @media (min-width: $mq-l) {
        position: relative;

        &:after {
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4IiBoZWlnaHQ9IjUwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJ2ZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI1NCIgeTE9IjUwIiB4Mj0iNTQiIHkyPSIwIj4KICAgIDxzdG9wIG9mZnNldD0iMCIgc3R5bGU9InN0b3AtY29sb3I6IzMzMzMzMyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAwMDAwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cG9seWdvbiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0idXJsKCN2ZykiIHBvaW50cz0iMCwwIDEwOCwwIDAsNTAgIi8+Cjwvc3ZnPgo=);
            bottom: -50px;
            content: "";
            height: 50px;
            opacity: 0.6;
            position: absolute;
            right: 3px;
            width: 108px;
        }
    }



    li {
        display: flex;
        flex-direction: column;
    }

    .h2-like {
        color: var(--color-secondary, #ffd300);
        font-size: ms(2);
        margin-bottom: var(--space-xs, 0.25rem);
    }

    .h4-like {
        color: var(--color-secondary, #ffd300);
        font-size: ms(0);
        margin-bottom: var(--space-xs, 0.25rem);

        &:last-of-type {
            margin-bottom: var(--space-s, 0.5rem);
        }
    }

    .value:not(:last-of-type) {
        margin-right: var(--space-l, 1rem);
    }

    .btn:not(:last-of-type) {
        margin-right: var(--space-s, 0.5rem);
    }
}
