.meta {
    background-color: var(--color-base-dark);
    border-radius: var(--border-radius-xs);
    color: var(--color-base-lightest);
    list-style-type: none;
    margin-top: calc(#{var(--space-xl)} * -1);
    opacity: var(--opacity-hack);
    padding: var(--space-m);
    position: absolute;


    @media (min-width: $mq-l) {
        margin-top: -276px;
        max-width: var(--meta-width);
        padding: var(--space-l);
        position: absolute;
        right: var(--space-l);

        &:after {
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4IiBoZWlnaHQ9IjUwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJ2ZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI1NCIgeTE9IjUwIiB4Mj0iNTQiIHkyPSIwIj4KICAgIDxzdG9wIG9mZnNldD0iMCIgc3R5bGU9InN0b3AtY29sb3I6IzMzMzMzMyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAwMDAwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cG9seWdvbiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0idXJsKCN2ZykiIHBvaW50cz0iMCwwIDEwOCwwIDAsNTAgIi8+Cjwvc3ZnPgo=);
            bottom: -50px; // Fixed value needed, do not remove/change
            content: "";
            height: 50px; // Fixed value needed, do not remove/change
            opacity: var(--opacity);
            position: absolute;
            right: 3px; // Fixed value needed, do not remove/change
            width: 108px; // Fixed value needed, do not remove/change
        }
    }

    li {
        display: flex;
        flex-direction: column;
    }

    .h2-like {
        color: var(--color-secondary);
        font-size: ms(2);
        margin-bottom: var(--space-xs);
    }

    .h4-like {
        color: var(--color-secondary);
        font-size: ms(0);
        margin-bottom: var(--space-xs);
    }

    .tag {
        color: var(--color-base-lightest);

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}
