// -----------------------------------------------------------------------------
// This file contains all styles related to the nav of the website.
// -----------------------------------------------------------------------------
.nav-main {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: var(--nav-height);
    justify-content: space-between;
    line-height: var(--nav-height);
    padding-left: var(--space-m);
    padding-right: var(--space-m);

    @media (min-width: $mq-s) {
        padding-left: var(--space-l);
        padding-right: 0;
    }

    &__logo-link {
        align-content: center;
        display: inherit;
    }

    .logo {
        @include transition(fill);

        &:hover {
            fill: var(--color-primary);
        }
    }

    .btn {
        @media (min-width: $mq-s) {
            display: none;
        }
    }

    .nav-items {
        display: none;

        @media (min-width: $mq-s) {
            display: block;
        }
    }

    .link {
        color: var(--color-base-lightest);
        display: inline-block;
        height: inherit;
        line-height: inherit;
        text-decoration: none;

        @include all-small-caps();
        @include body-small();

        &:hover .link__label,
        &.is-active .link__label {
            border-bottom: var(--border-width-xxs) solid var(--color-base-lightest);
            display: inherit;
            height: var(--nav-height);
            line-height: var(--nav-height);
        }

        &:not(:last-of-type):after {
            color: var(--color-base-light);
            content: "/";
            margin-left: var(--space-s);
            margin-right: var(--space-s);

            @include caption();
        }

        &:nth-of-type(4):after {
            content: "";
        }

        &:last-of-type {
            background-color: var(--color-secondary);
            color: var(--color-base-dark);
            height: calc(var(--nav-height) + var(--border-width-xxs));
            line-height: var(--nav-height);
            margin-right: 0;
            padding-left: var(--space-l);
            padding-right: var(--space-l);

            &:hover {
                background-color: var(--color-base-lightest);

                @include transition(background-color);
            }

            &:hover .link__label {
                border-bottom-color: transparent;
            }
        }
    }

    .link__label {
        font-family: var(--font-family-body-regular);
    }
}

.logo {
    fill: var(--color-base-lightest);
    height: calc(var(--nav-height) - var(--space-m) * 2);
    max-width: 8.75rem; // Magic String: Do not change/remove

    @media (min-width: $mq-special) {
        min-width: auto;
    }
}
