// -----------------------------------------------------------------------------
// This file contains all styles related to the offcanvas nav of the website.
// -----------------------------------------------------------------------------
.offcanvas {
    background-color: var(--color-secondary, #ffd300);
    color: var(--color-base-dark, #262626);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    max-width: 100vw;
    min-height: 50.75rem; // 812px: iPhone X height
    padding-bottom: var(--space-l, 2rem);
    padding-left: var(--space-l, 2rem);
    padding-right: var(--space-l, 2rem);
    padding-top: var(--space-xl, 4rem);
    position: fixed;
    transform: translateX(100%);
    width: 100%;
    will-change: transform;
    z-index: var(--z-index-s, 1);

    @include transition(transform);

    &__header {
        align-items: center;
        display: inherit;
        flex-wrap: nowrap;
        height: var(--nav-height, 4.5rem);
        justify-content: flex-end;
        line-height: var(--nav-height, 4.5rem);
        position: absolute;
        top: 0;
        width: calc(100% - (var(--space-l, 2rem) * 2));
    }

    .nav-items {
        display: inherit;
        flex-direction: inherit;
    }

    &__counter {
        counter-reset: offcanvas;
        display: inherit;
        flex-direction: inherit;

        .link:before {
            color: var(--color-primary, #0047bb);
            content: counter(offcanvas) ". " ;
            counter-increment: offcanvas;
            font-family: var(--font-family-body-regular, "Brando Regular Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);

            @include all-small-caps();
        }
    }

    .link {
        color: var(--color-base-dark, #262626);
        font-family: var(--font-family-title, "Guardian Bold Egyptian", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, serif);
        padding-bottom: var(--space-s, 0.5rem);
        padding-top: var(--space-s, 0.5rem);
        text-decoration: none;

        @include heading-h6();
    }

    h2.section-caption {
        font-family: var(--font-family-body-regular, "Brando Regular Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
    }

    .u-divider {
        margin-bottom: 0;
        margin-right: var(--space-s, 0.5rem);
    }
}
