// -----------------------------------------------------------------------------
// This file contains all styles related to the pagination component.
// -----------------------------------------------------------------------------
.pagination {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--space-l);
    max-width: calc(var(--btn-width) * 2 + 1rem);
    padding-bottom: var(--space-l);
    padding-left: 0;

    .btn {
        width: var(--btn-width);
    }
}
