// -------------------------------------------------------------------------
// This file contains all styles related to the picture or figure component.
// -------------------------------------------------------------------------
.picture {
    background-color: var(--color-base-lightest);
    border-radius: var(--border-radius-xxs);
    margin-bottom: var(--space-l);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: var(--content-max-width);
    padding: var(--space-l);

    @media (min-width: $mq-l) {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
}
