// -------------------------------------------------------------------------
// This file contains all styles related to the picture or figure component.
// -------------------------------------------------------------------------
.picture {
    background-color: var(--color-base-lightest);
    border-radius: var(--border-radius-xxs);
    margin-bottom: var(--space-l);
    margin-left: initial;
    margin-right: initial;
    margin-top: initial;
    padding: var(--space-l);

    img {
        border-radius: inherit;
    }
}
