// -------------------------------------------------------------------------
// This file contains all styles related to the .portrait component.
// -------------------------------------------------------------------------
.portrait {
    border-radius: 50%;
    height: var(--size-xl);
    width: var(--size-xl);

    &--xxl {
        float: left;
        height: var(--size-xxl);
        margin-right: var(--space-m);
        shape-margin: var(--space-s);
        shape-outside: circle();
        width: var(--size-xxl);
    }
}
