// -------------------------------------------------------------------------
// This file contains all styles related to the .portrait component.
// -------------------------------------------------------------------------
.portrait {
    border-radius: 50%;
    height: var(--size-xl);
    width: var(--size-xl);

    &--xxl {
        height: var(--size-xxl);
        width: var(--size-xxl);
    }
}
