// ------------------------------------------------------------------
// This file contains all styles related to the blockquote component.
// ------------------------------------------------------------------
.quote {
    border-bottom: 1px solid #796b5e;
    border-top: var(--size-s) solid var(--color-primary);
    font-family: var(--font-family-title);
    letter-spacing: var(--letter-spacing-s);
    margin-bottom: var(--space-m);
    margin-left: 0;
    margin-right: 0;
    padding-bottom: var(--space-l);
    padding-top: var(--space-l);

    @include transition(background-color);
    @include heading-h6();

    @media (min-width: $mq-s) {
        border-bottom: none;
        border-top-width: var(--size-m);
        float: left;
        margin-bottom: var(--size-m);
        margin-right: var(--size-l);
        margin-top: var(--size-s);
        padding-bottom: initial;
        padding-top: var(--space-l);
        text-align: right;
        width: 50%; // Magic String: Do not change/remove
    }

    @media (min-width: $mq-xl) {
        margin-bottom: var(--size-l);
    }

    @media (min-width: $mq-xxl) {
        margin-left: -25%; // Magic String: Do not change/remove
    }

    &:after {
        clear: both;
        content: "";
        display: table;
    }

    span {
        display: block;
        margin-bottom: 1em;
    }

    cite {
        color: var(--color-base-dark);

        @include caption();
    }

    a {
        color: inherit;
        position: relative;
        text-decoration: none;
        white-space: nowrap;

        &:after {
            background: currentColor;
            border-radius: var(--border-radius-xxs);
            bottom: 0;
            content: "";
            height: 2px; // Magic String: Do not change/remove
            left: 0;
            opacity: var(--opacity);
            position: absolute;
            width: 100%;
        }

        &:hover:after {
            opacity: 1;
        }
    }
}
