---
layout: default
---
{% if page.page_class %}
    <main class="main {{ page.page_class }}" role="main">
{% else %}
    <main class="main" role="main">
{% endif %}

{% if page.title %}
    <h1>{{ page.title }}</h1>
{% endif %}

<aside class="meta">
    {% if page.date %}
    <div class="last-updated">
        <p class="h2-like">Publication date</p>
        <p class="value">{{ page.date | date: "%b %-d %Y" }}</p>
    </div>
    {% endif %}
    <div class="meta__reading">
        {% include component-reading.html content=content %}
    </div>
    <div class="meta__tags">
        <p class="h4-like">Tagged under</p>
        <div class="value">
            {% for tag in page.tags %}
                <a class="btn btn--regular" href="/tags/#{{ tag }}">
                    {% include icons/tag.html %}
                    <span>{{ tag }}</span>
                </a>
            {% endfor %}
            <a class="btn btn--regular" href="/tags/#{{ tag }}">
                {% include icons/tag.html %}
                <span>Test de tag</span>
            </a>
        </div>
    </div>
</aside>

{{ content }}

</main>
