---
layout: default
---

{% if page.title %} 
  <h1 class="post__h1">{{ page.title }}</h1> 
{% endif %}

{% if page.date %}
  <p class="post__date">{{ page.date | date: "%B %d, %Y" }}</p> 
  <p class="post__reading-time">Estimated reading time: : {% include reading_time.html content=content %}</p>
{% endif %}

{{ content }}

{% if page.tags %}
  <p class="post-tags">Published under: {{ page.tags|array_to_sentence_string }}.</p>
{% endif %}

{% unless page.comments == false or page.external %}
  <div id="disqus_thread"></div> 
{% endunless %}
