---
layout: default
---
{% if page.page_class %}
    <main class="main {{ page.page_class }}" role="main">
{% else %}
    <main class="main" role="main">
{% endif %}

{% if page.title %}
    <h1>{{ page.title }}</h1>
{% endif %}

<ul class="meta">
    {% if page.date %}
    <li class="last-updated">
        <span class="name">Post publication date:</span>
        <span class="value">{{ page.date | date: "%b %-d %Y" }}</span>
    </li>
    {% endif %}
    <li>
        {% include component-reading.html content=content %}
    </li>
    <li class="tags">
        <span class="name">Tagged under:</span>
        <ul class="value">
            {% for tag in page.tags %}
                <li>
                    <a href="/tags#{{ tag }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>

{{ content }}

</main>
