// -----------------------------------------------------------------------------
// This file contains all styles related to the content section of the home page
// -----------------------------------------------------------------------------
.content {
    padding-bottom: var(--space-xl, 4rem);
    padding-left: var(--space-l, 2rem);
    padding-right: var(--space-l, 2rem);
    padding-top: var(--space-xl, 4rem);

    @supports (grid-gap: 1rem) {
        @media (min-width: 688px) {
            display: grid;
            grid-gap: var(--space-l, 2rem);
            grid-template-columns: repeat(auto-fit, calc(22rem - (var(--space-l, 2rem) * 2)));
            margin-left: auto;
            margin-right: auto;
            max-width: 42.18rem;
        }

        @media (min-width: 1206px) {
            // 3 colums + vertical grid-gaps + (padding-left + padding-right)
            max-width: 62.15rem;
        }
    }

    &__item {
        margin-bottom: var(--space-xl, 4rem);

        @supports (grid-gap: 1rem) {
            @media (min-width: 688px) {
                margin-bottom: 0;
            }
        }
    }

    .link {
        color: var(--color-primary, #0047bb);
        padding: var(--space-xxs, 0.125rem);

        @include transition();

        &:hover {
            background-color: var(--color-secondary, #ffd300);
            color: var(--color-base-dark, #141414);
            text-decoration: none;
        }
    }

    &__subtitle {
        @include body-text();
    }
}
