// -----------------------------------------------------------------------------
// This file contains all styles related to the content section of the home page
// -----------------------------------------------------------------------------
.content {
    min-height: 100vh;
    padding-bottom: var(--space-xl, 4rem);
    padding-left: var(--space-l, 2rem);
    padding-right: var(--space-l, 2rem);
    padding-top: var(--space-xl, 4rem);

    @supports (grid-gap: 1rem) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        grid-gap: var(--space-l, 2rem);
    }

    &__writing,
    &__speaking,
    &__podcast {
        margin-bottom: var(--space-xl, 4rem);

        @supports (grid-gap: 1rem) {
            margin-bottom: 0;
        }
    }

    .link {
        color: var(--color-primary, #0047bb);
        padding: var(--space-xxs, 0.125rem);

        @include transition();

        &:hover {
            background-color: var(--color-secondary, #ffd300);
            color: var(--color-base-dark, #141414);
            text-decoration: none;
        }
    }

    &__subtitle {
        @include body-text();
    }
}
