//
// Footer
// 1. Make it slightly smaller than copy text
//
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 90%; // 1
  text-align: center;
  background-color: $mainColor;

  @include respond-to('medium') {
    padding-left: 40px;
    padding-right: 40px;
  }
}

//
// Footer heading
//
.footer h2 {
  position: relative;
  margin: 0 auto 40px;
  color: $bgColor;
  quotes: "\201C""\201D""\2018""\2019";
  border-bottom: 1px dashed $bgColor;
  padding-bottom: 1px;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

//
// Prevent, as the footer background color by default is $main-color and links are $main-color to, not being legible.
// So change links color to $bg-color
//
.footer a {
  @include dashedUnderLine($bgColor, $bgColor, 1px);
  &:hover {
    @include underLine($bgColor, $bgColor, 1px);
  }
}

//
// Left floated .footer-list
//
.pull-footer-list--left {
  float: left;
}

//
// Right floated .footer-list
//
.pull-footer-list--right {
  float: right;
}

//
// Footer font color
///
.footer ul,
.footer p {
  color: $bgColor;
  padding-left: 0;
}

//
// Align left every UL inside a .footer element
//
.footer ul {
  text-align: left;
}

//
// Undo default styles
//
.footer li {
  list-style-type: none;
}

//
// Makes every p inside a .footer centered
//
.footer h2,
.footer p
 {
  text-align: center;
}

//
// HR divider
// 1. Vertical rhythm
//
hr {
  max-width: 350px;
  margin-bottom: 40px; // 1
}
