// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    height: auto;
    padding-left: $padding-m;
    padding-right: $padding-m;;
}

.main-section {
    background-color: $color-base;
    background-image: url('/assets/images/ignacio-home.jpg');
    background-repeat: no-repeat;
    background-position: 55% top;
    background-size: cover;
    color: $text-color-light;
    position: relative;
    height: calc(100vh - #{$nav-height});
    padding: $padding-m;

    @media (min-width: $mq-s) {
        background-position: 65% top;
    }

    @media (min-width: $mq-l) {
        background-position: center top;
    }
}
