// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the website.
// -----------------------------------------------------------------------------
.header {
    background-color: var(--color-base-darkest);
    box-shadow: var(--box-shaodw);
    color: var(--color-base-lightest);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: var(--z-index-s);
}
