// -----------------------------------------------------------------------------
// This file contains all styles related to the hero of the website.
// -----------------------------------------------------------------------------
.hero {
    background-color: var(--color-base-dark, #141414);
    color: var(--color-base-lightest, #efefef);
    padding-left: var(--space-m, 1rem);
    padding-right: var(--space-m, 1rem);
    padding-top: var(--space-l, 2rem);
    position: relative;
    width: 100%;

    @media (min-width: $mq-s) {
        padding-left: var(--space-l, 2rem);
        padding-right: var(--space-l, 2rem);
    }

    @supports (grid-gap: 1rem) {
        display: grid;
        grid-gap: var(--space-m, 1rem);
        grid-template-areas:
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   content      content      content      content      content      content      content      content      right"
            ".   disclaimer   disclaimer   disclaimer   disclaimer   disclaimer   disclaimer   disclaimer   disclaimer   .";
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        height: calc(100vh - var(--nav-height, 4.5rem));
        padding: 0;

        @media (min-width: $mq-s) {
            grid-gap: initial;
        }
    }


    &__picture,
    &__img {
        display: none;

        @supports (object-fit: cover) {
            display: block;
            height: calc(100vh - var(--nav-height, 4.5rem));
            object-fit: cover;
            width: 100%;
        }

        @supports (grid-gap: 1rem) {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }
    }

    &__content {
        margin-bottom: var(--space-l, 2rem);

        @supports (grid-gap: 1rem) {
            margin-bottom: 0;

            grid-area: content;
        }
    }

    &__title {
        margin-bottom: 0.5rem;
        padding-right: var(--space-m, 1rem);
    }

    &__subtitle {
        padding-right: var(--space-m, 1rem);

        @media (min-width: $mq-special) {
            margin-bottom: 0;
        }
    }

    &__disclaimer {
        margin-bottom: 0;

        @include body-small();

        @supports (grid-gap: 1rem) {
            grid-area: disclaimer;

            @media (min-width: $mq-l) {
                justify-self: end;
                text-align: right;
                writing-mode: vertical-lr;
            }
        }


        @supports (grid-gap: 1rem) {
            @media (min-width: $mq-l) {
                grid-area: right;
            }
        }

        .link {
            color: var(--color-secondary, #ffd300);
            text-decoration: none;

            @include transition();

            &:hover {
                background-color: var(--color-secondary, #ffd300);
                color: var(--color-base-dark, #141414);
            }
        }
    }
}
