// -----------------------------------------------------------------------------
// This file contains all styles related to the hero of the website.
// -----------------------------------------------------------------------------
.hero {
    background-color: var(--color-base-darkest);
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    padding-top: var(--space-l);
    position: relative;
    width: 100%;

    @media (min-width: $mq-s) {
        padding-left: var(--space-l);
        padding-right: var(--space-l);
    }

    @supports (grid-gap: 1rem) {
        display: grid;
        grid-gap: var(--space-m);
        grid-template-areas:
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   .            .            .            .            .            .            .            .            right"
            ".   content      content      content      content      content      content      content      content      right"
            ".   disclaimer   disclaimer   disclaimer   disclaimer   disclaimer   disclaimer   disclaimer   disclaimer   ."
            ".   .            .            .            .            .            .            .            .            .";
        grid-template-columns: var(--space-m) repeat(8, 1fr) var(--space-m);
        grid-template-rows: var(--space-m) repeat(8, 1fr) var(--space-m);
        height: calc(100vh - var(--nav-height));
        padding: 0;

        // PX units to make it work on Phones
        @media (max-width: 540px) and (orientation: portrait) { // Magic String: Do not change/remove
            height: calc(736px - var(--nav-height)); // Magic String: Do not change/remove
        }

        @media (min-width: $mq-s) {
            grid-gap: initial;
        }

        @media (min-width: $mq-s) {
            grid-template-columns: var(--space-l) repeat(8, 1fr) var(--space-l);
        }
    }


    &__picture,
    &__img {
        display: none;

        @supports (object-fit: cover) {
            display: block;
            height: calc(100vh - var(--nav-height));
            object-fit: cover;
            width: 100%;

            // PX units to make it work on Phones
            @media (max-width: 540px) and (orientation: portrait) { // Magic String: Do not change/remove
                height: calc(736px - var(--nav-height)); // Magic String: Do not change/remove
            }
        }

        @supports (grid-gap: 1rem) {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }
    }

    &__content {
        margin-bottom: var(--space-l);

        @supports (grid-gap: 1rem) {
            grid-area: content;
            margin-bottom: 0;

            @media (min-width: $mq-l) {
                align-self: end;
            }
        }
    }

    &__title {
        margin-bottom: var(--space-s);
        padding-right: var(--space-m);
    }

    &__subtitle {
        padding-right: var(--space-m);

        @media (min-width: $mq-special) {
            margin-bottom: 0;
        }
    }

    &__disclaimer {
        margin-bottom: 0;

        @include body-small();

        @supports (grid-gap: 1rem) {
            grid-area: disclaimer;

            @media (min-width: $mq-l) {
                justify-self: end;
                text-align: right;
                writing-mode: vertical-lr;
            }
        }


        @supports (grid-gap: 1rem) {
            @media (min-width: $mq-l) {
                grid-area: right;
            }
        }

        .link {
            color: var(--color-secondary);
            text-decoration: none;

            @include transition();

            &:hover {
                background-color: var(--color-secondary);
                color: var(--color-base-dark);
            }
        }
    }
}
