// -----------------------------------------------------------------------------
// This file contains all styles related to the media section of the home page
// -----------------------------------------------------------------------------
.media-wrapper {
    overflow: hidden;
    position: relative;

    &::after {
        @include section("/Media", var(--color-base-medium, #262626));
    }
}

.media {
    color: inherit;
    padding-bottom: var(--space-xl, 4rem);
    padding-left: var(--space-m, 1rem);
    padding-right: var(--space-m, 1rem);
    padding-top: var(--space-xl, 4rem);

    @supports (grid-gap: 1rem) {
        @media (min-width: $mq-s) {
            display: grid;
            font-size: 1rem;
            grid-gap: var(--space-l, 2rem);
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            margin-left: auto;
            margin-right: auto;
            max-width: 60rem;
            padding-left: var(--space-l, 2rem);
            padding-right: var(--space-l, 2rem);
        }

        @media (min-width: $mq-l) {
            padding-bottom: var(--space-xxl, 8rem);
            padding-left: initial;
            padding-right: initial;
            padding-top: var(--space-xxl, 8rem);
        }
    }

    .btn {
        margin-bottom: var(--space-m, 1rem);
    }

    &__item:not(:last-of-type) {
        margin-bottom: var(--space-xl, 4rem);

        @supports (grid-gap: 1rem) {
            @media (min-width: $mq-s) {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        border-bottom: 1px solid currentColor;
        color: inherit;
        display: block;
        padding-bottom: var(--space-m, 1rem);
        padding-left: var(--space-xs, 0.5rem);
        padding-top: var(--space-m, 1rem);
        text-decoration: none;

        @include transition();

        &:hover {
            background-color: var(--color-base-lightest, #efefef);
            color: var(--color-base-medium, #262626);

            .media__subtitle,
            .media__time {
                color: inherit;
            }
        }
    }

    &__time {
        color: var(--color-base-light, #808080);
        display: block;
        margin-bottom: var(--space-xs, 0.25rem);

        @include all-small-caps();
        @include body-small();
    }

    &__subtitle {
        color: var(--color-secondary, #ffd300);
        margin-bottom: 0;

        @include body-text();

        .icon {
            margin-bottom: calc(#{var(--space-xxs, 0.125rem)} * -1); // Visual correction to align the text
        }
    }

    .link {
        @include transition();

        &:hover {
            background-color: var(--color-secondary, #ffd300);
            color: var(--color-base-medium, #262626);
            text-decoration: none;
        }
    }
}
