// -----------------------------------------------------------------------------
// This file contains all styles related to the media section of the home page
// -----------------------------------------------------------------------------
.media-wrapper {
    @include section("/Media", var(--color-base-dark));
}

.media {
    color: inherit;
    padding-bottom: var(--space-xl);
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    padding-top: var(--space-xl);

    @supports (grid-gap: 1rem) {
        @media (min-width: $mq-s) {
            display: grid;
            grid-gap: var(--space-l);
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
            margin-left: auto;
            margin-right: auto;
            max-width: 60rem; // Magic String: Do not change/remove
            padding-left: var(--space-l);
            padding-right: var(--space-l);
        }

        @media (min-width: $mq-l) {
            padding-left: initial;
            padding-right: initial;
        }
    }

    @media (min-width: $mq-l) {
        padding-bottom: var(--space-xxl);
        padding-top: var(--space-xxl);
    }

    .btn {
        margin-bottom: var(--space-m);
    }

    &__item:not(:last-of-type) {
        margin-bottom: var(--space-xl);

        @supports (grid-gap: 1rem) {
            @media (min-width: $mq-s) {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        border-bottom: 1px solid currentColor;
        color: inherit;
        display: block;
        padding-bottom: var(--space-m);
        padding-left: var(--space-xs);
        padding-top: var(--space-m);
        text-decoration: none;

        @include transition();

        &:hover {
            background-color: var(--color-base-lightest);
            color: var(--color-base-dark);

            .media__time,
            .media__subtitle {
                color: inherit;
            }
        }

        &:focus {
            border-color: transparent;
            outline: var(--border-width) dotted currentColor;
        }
    }

    &__time {
        color: var(--color-base-lightest);
        padding-bottom: var(--space-xs);

        @include opentype-all-opentype-small-caps();
        @include body-small();
    }

    &__subtitle {
        color: var(--color-secondary);
        margin-bottom: 0;

        @include body-text();

        .icon {
            margin-bottom: calc(var(--space-xxs) * -1); // Visual correction to align the text
        }
    }

    .link {
        @include transition();
    }
}
