/**
 * Navigation
 */
.nav {
  position: relative;

  @include respond-to('medium') {
    float: right;
  }
}

/**
 * Navigation list
 * 1. Undo default styles
 */
.nav ul {
  list-style: none; /* 1 */
  margin: 0; /* 1 */
  padding: 0; /* 1 */
}

/**
 * Navigation item
 * 1. Position context for pseudo-element
 */
.nav li {
  padding: 15px 10px;
  position: relative; /* 1 */
  display: inline-block;
  margin: 0;

  &:hover {
      @include underLine($mainColor, $mainColor, 4px, 2.5em)
  }
}

/**
 * Navigation active item 
 * 1. (sqrt(2) * 20) / 2
 */
.is-active {
    @include underLine($mainColor, $mainColor, 4px, 2.5em)
}

/**
 * Navigation links
 */
.nav a {
  text-decoration: none;
  color: $darkGrey;

  &:hover {
    @include underLine($mainColor, $darkGrey, 4px, 2.5em)
  }
}
