// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

//
// Set up a decent box model on the root element
// 1. Prevent adjustments of font size after orientation changes in iOS.
//
:root {
    box-sizing: border-box;
    color: var(--color-base-dark);
    font-size: 100%; // 16px
    line-height: 1.5;

    -webkit-text-size-adjust: 100%; // 1

    @media (min-width: $mq-m) {
        font-size: 120%;
    }

    @media (min-width: $mq-xl) {
        font-size: 140%;
    }
}

//
// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//
*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-base-lightest);
}

body.is-active .offcanvas {
    transform: translateX(0);
}

body.is-active .container {
    transform: translateX(-100%);
}

//
// Basic UL and OL styles
//
ul,
ol {
    // list-style-position: inside;
    list-style-type: none;
    padding-left: var(--space-m);

    @media (min-width: $mq-l) {
        padding-left: 0;
    }

    li {
        position: relative;

        &::before {
            background-color: var(--color-primary);
            content: "";
            height: 0.3em; // Magic String: Do not change/remove
            left: -0.8em; // Magic String: Do not change/remove
            position: absolute;
            top: 0.55em; // Magic String: Do not change/remove
            width: 0.3em; // Magic String: Do not change/remove
        }
    }
}


.container {
    position: relative;
    z-index: var(--z-index-s);

    @include transition(transform);
}

.content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
        @media (min-width: $mq-l) {
            margin-left: auto;
            margin-right: auto;
            max-width: var(--content-max-width);
            padding-right: calc(#{var(--content-max-width)} - #{var(--content-width)});
            width: 85%;
        }
    }
}

//
// Basic icon styles
//
.icon {
    fill: currentColor;
    // Prevent the icon from shrinking inside a flex container.
    flex-shrink: 0;
    height: var(--icon-m);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    width: var(--icon-m);

    &-stroke {
        fill: none;
        stroke: currentColor;
    }
}

//
// Section Caption
//
.section-caption {
    align-items: center;
    color: var(--color-primary);
    display: flex;
    font-family: var(--font-family-body-regular);
    font-size: ms(-1); // Same as @mixin body-small() but cant use due to margin-bottom: 0
    margin-bottom: 0;
    margin-top: var(--space-l);
    max-width: 80%;
    white-space: nowrap;

    @include all-small-caps();

    span {
        white-space: inherit;
    }
}
