//
// Box Model
//
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 7px solid $main-color;
}

//
// Make all elements from the DOM inherit from the parent box-sizing
// See: https://css-tricks.com/box-sizing/
//
*, *::before, *::after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
} 

//
// Flat light-grey background color for the whole page
//
body {
  background: $white;
}

//
// Basic styles for links
// 1. Position context for pseudo-element
//
a {
  position: relative; // 1
  display: inline-block;
  color: $main-color;
  text-decoration: none;

  //
  // Display 'special' underline on hover
  //
  &:hover {
    background: linear-gradient($main-color, $main-color) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1.3em;
    //text-shadow: .05em 0 white, -.05em 0 white;
  }
}

//
// Basic styles for images
// 1. Prevent image from being taller than viewport
//
img {
  max-width: 100%;
  height: auto;
  max-height: 80vh; // 1
  margin: 0 auto;
}
