// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Input';
    src: url('/assets/fonts/Input/Input-Mono-Regular.woff2') format('woff2'),
        url('/assets/fonts/Input/Input-Mono-Regular.woff') format('woff');
    font-style: normal;
    font-weight: $font-weight-normal;
    font-display: swap;
}
