//
// 404 Page
//
strong {
	font-size: 49px;
  font-size: 3.0625rem;
  color: $mainColor;
}

//
// Center horizontally
//
.tac,
strong {
	text-align: center;
}

//
// Center horizontally
//
img {
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}
