//
// Clear inner floats
//
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

//
// Main content containers
// 1. Make the container full-width with a maximum width
// 2. Center it in the viewport
// 3. Leave some space on the edges
//
.container {
  position: relative;
  width: 100%; // 1
  max-width: $maxWidth;
  padding-right: 7px;
  padding-left: 7px;
  margin-left: auto; // 2
  margin-right: auto; // 2

  &--small {
    width: 100%; // 1
    max-width: 200px; // 1
    margin: 0 auto;
  }

  &--big {
    width: 100%; // 1
    max-width: 231px; // 1
  }
}

//
// Hide text while making it readable for screen readers
// 1. Needed in WebKit-based browsers because of an implementation bug;
//    See: https://code.google.com/p/chromium/issues/detail?id=457146
//
.hide-text {
  overflow: hidden;
  padding: 0; // 1
  text-indent: 101%;
  white-space: nowrap;
}

//
// Hide element while making it readable for screen readers
//
.visually-hidden { 
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//
// Highlights the left border with a $main-color color and the background with a $light-grey color
//
.alert {
  padding-top: 20px;
  padding-left: 36px;
  border-left: 3px solid $mainColor;
  color: $mainColor;
  background-color: $lightGrey;
  font-size: 80%;

  //
  // Highlights the alert by adding an alert icon
  //
  &::before {
    content: url(../images/icon-info.svg);
    width: 20px;
    height: 20px;
    margin-left: -5px;
    margin-top: -18px;
    color: $bgColor;
  }
}

.alert a {
  @include dashedUnderLine($mainColor, $mainColor, 1px);

  //
  // Display 'special' underline on hover
  //
  &:hover {
    @include underLine($mainColor, $mainColor, 1px);
  }
}

//
// Reset UL list bullets and left padding
//
.reset-bullet {
  padding-left: 0;
  list-style-type: none;
}

.btn,
.btn a {
  position: relative;
  display: block;
  width: 100%;
  margin: 50px auto 0;
  padding: 10px;
  text-align: center;
  background-color: $mainColor;
  color: $bgColor;
  border-radius: $borderRadius;
  border: 3px solid $mainColor;

  &:hover {
    @include underLine(transparent, $mainColor);
  }
}

.btn--hire a {
  position: relative;
  display: block;
  width: 250px;
  margin: 50px auto 0;
  padding: 10px;
  text-align: center;
  background-color: $mainColor;
  color: $bgColor;
  border-radius: $borderRadius;
  border: 3px solid $mainColor;

  &:hover {
    @include underLine(transparent, $mainColor);
  }
}

//
// Center text horizontally
//
.tac {
  text-align: center;
}

//
// Center horizontally
//
.center {
  display: block;
  margin: 0 auto;
}
