//
// Basic typography style for copy text
//
@import '../abstracts/variables.scss';

//
// #Body-Text
//
html {
    color: $color-base;
    font-size: 100%; // 16px
    line-height: 1.6;

    @media (min-width: $mq-s) {
        font-size: 120%;
    }

    @media (min-width: $mq-l) {
        font-size: 140%;
    }
}

// Body text loaded font-family
html.fonts-loaded {
    font-family: $font-family-body;
}

// Headings font-family and font-weight
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-title-fallback;
    font-weight: $font-weight-bold;
}

// Heading h1 font-size and line-height
h1 {
    font-size: 2em; // 32px
    line-height: 1.2;
}

// Headings h2-h6 font-size and line-height
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.5em; // 24px
    line-height: 1.3;
}

// Headings h1-h6 loaded font-family
html.fonts-loaded h1,
html.fonts-loaded h2,
html.fonts-loaded h3,
html.fonts-loaded h4,
html.fonts-loaded h5,
html.fonts-loaded h6 {
    font-family: $font-family-title;
}

// Body text (not loaded) fallback tweaks
html:not(.fonts-loaded) {
    font-family: $font-family-body-fallback;
    font-weight: $font-weight-normal;
    letter-spacing: -0.009375em; // -0.15px
    word-spacing: -0.04375em; // -0.7px
}

// Heading h1 (not loaded) fallback tweaks
html:not(.fonts-loaded) h1 {
    word-spacing: -0.04375em; // -0.7px
    letter-spacing: -0.040625em; // -0.65px
}

// Headings h2-h6 (not loaded) fallback tweaks
html:not(.fonts-loaded) h2,
html:not(.fonts-loaded) h3,
html:not(.fonts-loaded) h4,
html:not(.fonts-loaded) h5,
html:not(.fonts-loaded) h6 {
    letter-spacing: -0.034375em; // -0.55px
    word-spacing: -0.05em; // -0.8px
}

cite {
    font-style: normal;
}
